[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=WinTC Taskband
Comment=
Exec=/usr/bin/wintc-taskband
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

