/**
 * spinbutton.scss - Embedded Style Spin Button Style Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

//
// SPINBUTTON ITSELF
//
$spinbutton_vert_box_styles:
    wintc_define_props_borders(
        $spinbutton_vert_box_styles,
        false,
        solid,
        1,
        1,
        1,
        1,
        $borders_color,
        undefined
    );

$spinbutton_vert_entry_styles:
    wintc_define_props_borders(
        $spinbutton_vert_entry_styles,
        false,
        none,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined
    );


//
// SPINBUTTON UP/DOWN BUTTONS
//
$spinbutton_button_styles:
    wintc_define_props_bg(
        $spinbutton_button_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(233,233,233,1) 50%, rgba(211,211,211,1) 100%)
    );
$spinbutton_button_styles:
    wintc_define_props_border_radius(
        $spinbutton_button_styles,
        false,
        2
    );
$spinbutton_button_styles:
    wintc_define_props_borders(
        $spinbutton_button_styles,
        false,
        solid,
        1,
        1,
        1,
        1,
        #9B9B9B,
        none
    );
$spinbutton_button_styles:
    wintc_define_props_fg(
        $spinbutton_button_styles,
        false,
        #323232,
        undefined
    );

$spinbutton_button_hover_styles:
    wintc_define_props_bg(
        $spinbutton_button_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        linear-gradient(180deg, rgba(245,232,161,1) 0%, rgba(239,206,132,1) 50%, rgba(238,202,135,1) 100%)
    );
$spinbutton_button_hover_styles:
    wintc_define_props_borders(
        $spinbutton_button_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        #E5A254,
        none
    );

$spinbutton_button_press_styles:
    wintc_define_props_bg(
        $spinbutton_button_press_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        linear-gradient(180deg, rgba(201,201,201,1) 0%, rgba(240,240,240,1) 25%, rgba(255,255,255,1) 50%)
    );
$spinbutton_button_press_styles:
    wintc_define_props_borders(
        $spinbutton_button_press_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        #686868,
        none
    );

$spinbutton_button_inactive_styles:
    wintc_define_props_bg(
        $spinbutton_button_inactive_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        linear-gradient(148deg, rgba(248,248,248,1) 0%, rgba(240,240,240,1) 15%, rgba(238,238,238,1) 100%)
    );
$spinbutton_button_inactive_styles:
    wintc_define_props_borders(
        $spinbutton_button_inactive_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        #EBEBEB,
        none
    );
$spinbutton_button_inactive_styles:
    wintc_define_props_fg(
        $spinbutton_button_inactive_styles,
        false,
        $insensitive_fg_color,
        undefined
    );
