/**
 * start-menu.scss - Embedded Style Start Menu Style Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$start_flag_height: 20px;
$start_flag_width: 20px;
$start_text_case: lower;

$start_menu_allprograms_height: 24px;
$start_menu_allprograms_arrow_width: 16px;

$start_menu_display_userpic: true;

$start_menu_programs_column_width: 176px;
$start_menu_places_column_width: 176px;

$start_menu_popup_menu_vmargin: 1px;

$start_menu_separator_thickness: 0px;


//
// START BUTTON
//
$start_flag_styles:
    wintc_define_props_bg(
        $start_flag_styles,
        false,
        undefined,
        undefined,
        no-repeat,
        0px 3px,
        url('../Resources/start_flag.png')
    );
$start_flag_styles:
    wintc_define_props_box(
        $start_flag_styles,
        false,
        margin,
        undefined,
        4,
        undefined,
        5
    );

$start_button_styles:
    wintc_define_props_bg(
        $start_button_styles,
        false,
        undefined,
        100% 100%,
        undefined,
        undefined,
        url('../Resources/start_button_body.png'),
        linear-gradient(180deg,rgba(30, 75, 118, 1) 0%, rgba(5, 42, 80, 1) 50%, rgba(0, 27, 58, 1) 51%, rgba(0, 24, 54, 1) 84%, rgba(5, 40, 78, 1) 100%)
    );
$start_button_styles:
    wintc_define_props_borders(
        $start_button_styles,
        false,
        solid,
        2,
        13,
        3,
        5,
        undefined,
        url('../Resources/start_button_border.png')
    );
$start_button_styles:
    wintc_define_props_box(
        $start_button_styles,
        false,
        margin,
        undefined,
        undefined,
        undefined,
        undefined
    );
$start_button_styles:
    wintc_define_props_box(
        $start_button_styles,
        false,
        padding,
        0,
        0,
        0,
        0
    );
$start_button_styles:
    wintc_define_props_fg(
        $start_button_styles,
        false,
        undefined,
        1px 1px 2px #152404
    );
$start_button_styles:
    wintc_define_props_font(
        $start_button_styles,
        false,
        'Franklin Gothic Medium',
        14pt,
        italic,
        undefined
    );

$start_button_hover_styles:
    wintc_define_props_bg(
        $start_button_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/start_button_hover_body.png'),
        linear-gradient(180deg,rgba(71, 124, 171, 1) 0%, rgba(45, 93, 138, 1) 24%, rgba(40, 87, 131, 1) 50%, rgba(17, 58, 99, 1) 51%, rgba(24, 67, 109, 1) 100%)
    );
$start_button_hover_styles:
    wintc_define_props_borders(
        $start_button_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/start_button_hover_border.png')
    );

$start_button_press_styles:
    wintc_define_props_bg(
        $start_button_press_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/start_button_press_body.png'),
        linear-gradient(180deg,rgba(30, 75, 118, 1) 0%, rgba(10, 49, 87, 1) 24%, rgba(5, 42, 80, 1) 50%, rgba(0, 27, 58, 1) 51%, rgba(5, 40, 78, 1) 100%)
    );
$start_button_press_styles:
    wintc_define_props_borders(
        $start_button_press_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/start_button_press_border.png')
    );
$start_button_press_styles:
    wintc_define_props_box(
        $start_button_press_styles,
        false,
        padding,
        0,
        0,
        0,
        0
    );

$start_button_selected_styles: $start_button_press_styles;

$start_button_text_styles:
    wintc_define_props_box(
        $start_button_text_styles,
        false,
        margin,
        0,
        13,
        0,
        0
    );


//
// START MENU
//
$start_menu_styles: ();
$start_menu_styles:
    wintc_define_props_bg(
        $start_menu_styles,
        false,
        transparent,
        undefined,
        undefined,
        undefined,
        undefined
    );
$start_menu_styles:
    wintc_define_props_borders(
        $start_menu_styles,
        false,
        none,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined
    );


//
// START MENU HORIZONTAL USER PANE
//
$start_menu_horz_userpane_styles:
    wintc_define_props_bg(
        $start_menu_horz_userpane_styles,
        false,
        undefined,
        101% 100%,
        undefined,
        -2px 0px,
        url('../Resources/start_userpane_body.png')
    );
$start_menu_horz_userpane_styles:
    wintc_define_props_borders(
        $start_menu_horz_userpane_styles,
        false,
        solid,
        5,
        6,
        0,
        6,
        undefined,
        url('../Resources/start_userpane_border.png')
    );
$start_menu_horz_userpane_styles:
    wintc_define_props_box(
        $start_menu_horz_userpane_styles,
        false,
        margin,
        undefined,
        undefined,
        undefined,
        undefined
    );

$start_menu_userpic_styles:
    wintc_define_props_borders(
        $start_menu_userpic_styles,
        false,
        solid,
        2,
        5,
        5,
        2,
        undefined,
        url('../Resources/user_tile_border.png')
    );
$start_menu_userpic_styles:
    wintc_define_props_box(
        $start_menu_userpic_styles,
        false,
        margin,
        2,
        0,
        2,
        1
    );

$start_menu_horz_username_styles:
    wintc_define_props_fg(
        $start_menu_horz_username_styles,
        false,
        #FFFFFF,
        0px 1px 2px #000000
    );
$start_menu_horz_username_styles:
    wintc_define_props_font(
        $start_menu_horz_username_styles,
        false,
        'Franklin Gothic Medium',
        undefined,
        undefined,
        undefined
    );


//
// START MENU PROGRAMS COLUMN
//
$start_menu_programs_column_styles:
    wintc_define_props_bg(
        $start_menu_programs_column_styles,
        false,
        #013C6B,
        undefined,
        undefined,
        undefined,
        undefined
    );
$start_menu_programs_column_styles:
    wintc_define_props_borders(
        $start_menu_programs_column_styles,
        false,
        solid,
        1,
        2,
        1,
        2,
        undefined,
        url('../Resources/start_programs_border.png')
    );
$start_menu_programs_column_styles:
    wintc_define_props_box(
        $start_menu_programs_column_styles,
        false,
        margin,
        undefined,
        undefined,
        undefined,
        undefined
    );
$start_menu_programs_column_styles:
    wintc_define_props_box(
        $start_menu_programs_column_styles,
        false,
        padding,
        2,
        6,
        undefined,
        6
    );
$start_menu_programs_column_styles:
    wintc_define_props_fg(
        $start_menu_programs_column_styles,
        false,
        #FFFFFF,
        undefined
    );

$start_menu_programs_separator_styles:
    wintc_define_props_borders(
        $start_menu_programs_separator_styles,
        false,
        solid,
        1,
        1,
        1,
        1,
        undefined,
        url("../Resources/start_programs_separator.png")
    );

$start_menu_programs_menuitem_mime_prgtxt_styles:
    wintc_define_props_fg(
        $start_menu_programs_menuitem_mime_prgtxt_styles,
        false,
        #A2AAAE,
        undefined
    );
$start_menu_programs_menuitem_mime_hover_styles:
    wintc_define_props_fg(
        $start_menu_programs_menuitem_mime_hover_styles,
        false,
        $selected_fg_color,
        undefined
    );

//
// 'ALL PROGRAMS' MENU ITEM
//
$start_menu_allprograms_menuitem_styles:
    wintc_define_props_box(
        $start_menu_allprograms_menuitem_styles,
        false,
        margin,
        6,
        undefined,
        5,
        undefined
    );
$start_menu_allprograms_menuitem_styles:
    wintc_define_props_box(
        $start_menu_allprograms_menuitem_styles,
        false,
        padding,
        0,
        undefined,
        0,
        undefined
    );
$start_menu_allprograms_menuitem_styles:
    wintc_define_props_font(
        $start_menu_allprograms_menuitem_styles,
        false,
        undefined,
        undefined,
        undefined,
        bold
    );


//
// START MENU POPUP MENU
//
$start_menu_popup_menu_styles:
    wintc_define_props_borders(
        $start_menu_popup_menu_styles,
        false,
        solid,
        1,
        1,
        1,
        6,
        undefined,
        url('../Resources/start_menu_item.png')
    );

$start_menu_popup_menu_menuitem_styles:
    wintc_define_props_box(
        $start_menu_popup_menu_menuitem_styles,
        false,
        margin,
        0,
        1,
        0,
        6
    );
$start_menu_popup_menu_menuitem_styles:
    wintc_define_props_box(
        $start_menu_popup_menu_menuitem_styles,
        false,
        padding,
        3,
        0,
        2,
        12
    );


//
// START MENU PLACES COLUMN
//
$start_menu_places_column_styles:
    wintc_define_props_bg(
        $start_menu_places_column_styles,
        false,
        #2E75AD,
        undefined,
        undefined,
        undefined,
        undefined
    );
$start_menu_places_column_styles:
    wintc_define_props_borders(
        $start_menu_places_column_styles,
        false,
        solid,
        3,
        6,
        1,
        1,
        undefined,
        url('../Resources/start_places_border.png')
    );
$start_menu_places_column_styles:
    wintc_define_props_box(
        $start_menu_places_column_styles,
        false,
        margin,
        undefined,
        undefined,
        undefined,
        undefined
    );
$start_menu_places_column_styles:
    wintc_define_props_box(
        $start_menu_places_column_styles,
        false,
        padding,
        2,
        2,
        5,
        5
    );
$start_menu_places_column_styles:
    wintc_define_props_fg(
        $start_menu_places_column_styles,
        false,
        #FFFFFF,
        undefined
    );
$start_menu_places_separator_styles:
    wintc_define_props_borders(
        $start_menu_places_separator_styles,
        false,
        solid,
        1,
        1,
        1,
        1,
        undefined,
        url('../Resources/start_places_separator.png')
    );


//
// START MENU LOGOFF PANE
//
$start_menu_button_styles:
    wintc_define_props_box(
        $start_menu_button_styles,
        false,
        margin,
        4,
        -2,
        6,
        0
    );
$start_menu_button_styles:
    wintc_define_props_box(
        $start_menu_button_styles,
        false,
        padding,
        3,
        10,
        3,
        3
    );

$start_menu_button_press_styles:
    wintc_define_props_box(
        $start_menu_button_press_styles,
        false,
        padding,
        4,
        9,
        2,
        4
    );

$start_menu_logoff_pane_styles:
    wintc_define_props_bg(
        $start_menu_logoff_pane_styles,
        false,
        undefined,
        101% 100%,
        undefined,
        -2px 0px,
        url('../Resources/start_logoffpane_body.png')
    );
$start_menu_logoff_pane_styles:
    wintc_define_props_borders(
        $start_menu_logoff_pane_styles,
        false,
        solid,
        0,
        4,
        0,
        4,
        undefined,
        url('../Resources/start_logoffpane_border.png')
    );
$start_menu_logoff_pane_styles:
    wintc_define_props_fg(
        $start_menu_logoff_pane_styles,
        false,
        #FFFFFF,
        undefined
    );
