/**
 * csd.scss - Royale Style GTK 3 CSD Style Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$csd_window_hack_border_radius: 5px;

$caption_button_spacing: 2px;
$close_button_spacing: 0px;


//
// CSD WINDOW ITSELF
//
$csd_window_styles:
    wintc_define_props_borders(
        $csd_window_styles,
        false,
        solid,
        0,
        4,
        4,
        4,
        undefined,
        default
    );

$csd_window_backdrop_styles:
    wintc_define_props_borders(
        $csd_window_backdrop_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/csd_window_backdrop_border.png')
    );


//
// HEADERBAR
//
$headerbar_styles:
    wintc_define_props_bg(
        $headerbar_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        linear-gradient(180deg,rgba(153, 198, 241, 1) 0%, rgba(131, 194, 237, 1) 4%, rgba(118, 184, 236, 1) 15%, rgba(100, 163, 234, 1) 35%, rgba(89, 151, 224, 1) 49%, rgba(58, 125, 209, 1) 52%, rgba(49, 94, 183, 1) 90%, rgba(44, 85, 177, 1) 100%)
    );
$headerbar_styles:
    wintc_define_props_borders(
        $headerbar_styles,
        false,
        solid,
        1,
        9,
        1,
        9,
        undefined,
        default
    );
$headerbar_styles:
    wintc_define_props_box(
        $headerbar_styles,
        false,
        padding,
        1,
        0,
        0,
        0
    );

$headerbar_backdrop_styles:
    wintc_define_props_bg(
        $headerbar_backdrop_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        linear-gradient(180deg,rgba(133, 179, 227, 1) 0%, rgba(133, 179, 227, 1) 4%, rgba(79, 116, 183, 1) 4%, rgba(85, 130, 194, 1) 15%, rgba(86, 136, 197, 1) 35%, rgba(91, 146, 207, 1) 49%, rgba(111, 161, 217, 1) 52%, rgba(128, 178, 226, 1) 75%, rgba(144, 195, 230, 1) 100%)
    );
$headerbar_backdrop_styles:
    wintc_define_props_borders(
        $headerbar_backdrop_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/headerbar_backdrop_border.png')
    );

$headerbar_maximized_styles:
    wintc_define_props_borders(
        $headerbar_maximized_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/headerbar_maximized_border.png')
    );

$headerbar_maximized_backdrop_styles:
    wintc_define_props_borders(
        $headerbar_maximized_backdrop_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/headerbar_maximized_backdrop_border.png')
    );


//
// CAPTION BUTTONS
//
$caption_button_styles:
    wintc_define_props_bg(
        $caption_button_styles,
        false,
        undefined,
        100% 100%,
        undefined,
        undefined,
        url('../Resources/caption_button.png'),
        linear-gradient(180deg,rgba(126, 176, 229, 1) 0%, rgba(100, 158, 226, 1) 49%, rgba(74, 140, 217, 1) 51%, rgba(58, 122, 201, 1) 70%, rgba(98, 139, 199, 1) 100%)
    );
$caption_button_styles:
    wintc_define_props_borders(
        $caption_button_styles,
        false,
        solid,
        3,
        3,
        3,
        3,
        undefined,
        url('../Resources/caption_button_border.png')
    );
$caption_button_styles:
    wintc_define_props_fg(
        $caption_button_styles,
        false,
        #FFF,
        undefined
    );

$caption_button_hover_styles:
    wintc_define_props_bg(
        $caption_button_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_hover.png'),
        linear-gradient(180deg,rgba(109, 175, 221, 1) 0%, rgba(47, 119, 206, 1) 49%, rgba(28, 89, 193, 1) 51%, rgba(36, 97, 198, 1) 70%, rgba(55, 114, 193, 1) 100%)
    );
$caption_button_hover_styles:
    wintc_define_props_borders(
        $caption_button_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_hover_border.png')
    );

$caption_button_focused_styles: map-clone($caption_button_hover_styles);

$caption_button_press_styles:
    wintc_define_props_bg(
        $caption_button_press_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_press.png'),
        linear-gradient(180deg,rgba(68, 109, 165, 1) 0%, rgba(29, 75, 143, 1) 49%, rgba(16, 54, 122, 1) 51%, rgba(12, 52, 124, 1) 100%)
    );
$caption_button_press_styles:
    wintc_define_props_borders(
        $caption_button_press_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_press_border.png')
    );
$caption_button_press_styles:
    wintc_define_props_fg(
        $caption_button_press_styles,
        false,
        #BABBBC,
        undefined
    );

$caption_button_selected_styles: map-clone($caption_button_press_styles);

$caption_button_inactive_styles:
    wintc_define_props_bg(
        $caption_button_inactive_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_inactive.png'),
        linear-gradient(180deg,rgba(126, 176, 229, 1) 0%, rgba(100, 158, 226, 1) 49%, rgba(74, 139, 218, 1) 51%, rgba(58, 122, 201, 1) 70%, rgba(98, 139, 199, 1) 100%)
    );
$caption_button_inactive_styles:
    wintc_define_props_borders(
        $caption_button_inactive_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_inactive_border.png')
    );
$caption_button_inactive_styles:
    wintc_define_props_fg(
        $caption_button_inactive_styles,
        false,
        #A9AAAB,
        undefined
    );

$caption_button_backdrop_styles:
    wintc_define_props_bg(
        $caption_button_backdrop_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_backdrop.png'),
        linear-gradient(180deg,rgba(98, 139, 199, 1) 0%, rgba(58, 122, 201, 1) 30%, rgba(74, 140, 217, 1) 49%, rgba(100, 158, 226, 1) 51%, rgba(126, 176, 229, 1) 100%)
    );
$caption_button_backdrop_styles:
    wintc_define_props_borders(
        $caption_button_backdrop_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_backdrop_border.png')
    );

$caption_button_backdrop_hover_styles:
    wintc_define_props_bg(
        $caption_button_backdrop_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_backdrop_hover.png'),
        linear-gradient(180deg,rgba(55, 115, 196, 1) 0%, rgba(36, 97, 198, 1) 30%, rgba(28, 89, 193, 1) 49%, rgba(47, 119, 206, 1) 51%, rgba(109, 176, 222, 1) 100%)
    );
$caption_button_backdrop_hover_styles:
    wintc_define_props_borders(
        $caption_button_backdrop_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_backdrop_hover_border.png')
    );

$caption_button_backdrop_press_styles:
    wintc_define_props_bg(
        $caption_button_backdrop_press_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_backdrop_press.png'),
        linear-gradient(180deg,rgba(12, 52, 124, 1) 0%, rgba(16, 54, 122, 1) 49%, rgba(29, 75, 143, 1) 51%, rgba(68, 109, 165, 1) 100%)
    );
$caption_button_backdrop_press_styles:
    wintc_define_props_borders(
        $caption_button_backdrop_press_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_backdrop_press_border.png')
    );
$caption_button_backdrop_press_styles:
    wintc_define_props_fg(
        $caption_button_backdrop_press_styles,
        false,
        #BABBBC,
        undefined
    );

$caption_button_backdrop_selected_styles: map-clone($caption_button_backdrop_press_styles);

$caption_button_backdrop_inactive_styles:
    wintc_define_props_bg(
        $caption_button_backdrop_inactive_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_backdrop_inactive.png'),
        linear-gradient(180deg,rgba(98, 139, 199, 1) 0%, rgba(58, 122, 201, 1) 30%, rgba(74, 139, 218, 1) 49%, rgba(100, 158, 226, 1) 51%, rgba(126, 176, 229, 1) 100%)
    );
$caption_button_backdrop_inactive_styles:
    wintc_define_props_borders(
        $caption_button_backdrop_inactive_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_backdrop_inactive_border.png')
    );
$caption_button_backdrop_inactive_styles:
    wintc_define_props_fg(
        $caption_button_backdrop_inactive_styles,
        false,
        #A9AAAB,
        undefined
    );

$close_button_styles:
    wintc_define_props_bg(
        $close_button_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button.png')
    );
$close_button_styles:
    wintc_define_props_borders(
        $close_button_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_border.png')
    );

$close_button_hover_styles:
    wintc_define_props_bg(
        $close_button_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_hover.png')
    );
$close_button_hover_styles:
    wintc_define_props_borders(
        $close_button_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_hover_border.png')
    );

$close_button_focused_styles: map-clone($close_button_hover_styles);

$close_button_press_styles:
    wintc_define_props_bg(
        $close_button_press_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_press.png')
    );
$close_button_press_styles:
    wintc_define_props_borders(
        $close_button_press_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_press_border.png')
    );
$close_button_press_styles:
    wintc_define_props_fg(
        $close_button_press_styles,
        false,
        #DF9A87,
        undefined
    );

$close_button_inactive_styles:
    wintc_define_props_bg(
        $close_button_inactive_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_inactive.png')
    );
$close_button_inactive_styles:
    wintc_define_props_borders(
        $close_button_inactive_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_inactive_border.png')
    );
$close_button_inactive_styles:
    wintc_define_props_fg(
        $close_button_inactive_styles,
        false,
        #A9AAAB,
        undefined
    );

$close_button_backdrop_styles:
    wintc_define_props_bg(
        $close_button_backdrop_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_backdrop.png')
    );
$close_button_backdrop_styles:
    wintc_define_props_borders(
        $close_button_backdrop_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_backdrop_border.png')
    );

$close_button_backdrop_hover_styles:
    wintc_define_props_bg(
        $close_button_backdrop_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_backdrop_hover.png')
    );
$close_button_backdrop_hover_styles:
    wintc_define_props_borders(
        $close_button_backdrop_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_backdrop_hover_border.png')
    );

$close_button_backdrop_focused_styles: map-clone($close_button_backdrop_hover_styles);

$close_button_backdrop_press_styles:
    wintc_define_props_bg(
        $close_button_backdrop_press_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_backdrop_press.png')
    );
$close_button_backdrop_press_styles:
    wintc_define_props_borders(
        $close_button_backdrop_press_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_backdrop_press_border.png')
    );
$close_button_backdrop_press_styles:
    wintc_define_props_fg(
        $close_button_backdrop_press_styles,
        false,
        #CBADBA,
        undefined
    );

$close_button_backdrop_inactive_styles:
    wintc_define_props_bg(
        $close_button_backdrop_inactive_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_backdrop_inactive.png')
    );
$close_button_backdrop_inactive_styles:
    wintc_define_props_borders(
        $close_button_backdrop_inactive_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_backdrop_inactive_border.png')
    );
$close_button_backdrop_inactive_styles:
    wintc_define_props_fg(
        $close_button_backdrop_inactive_styles,
        false,
        #A9AAAB,
        undefined
    );
