[Desktop Entry]
Name=Software Installation Wizard
Comment=Installs software packages.
Hidden=true
Exec=wintc-pkg-exec -i %F
Icon=package-x-generic
Terminal=false
StartupNotify=false
Type=Application
Categories=Utility;GTK;
MimeTypes=application/vnd.debian.binary-package;
