/**
 * xp-systray-plugin.scss - Luna (Blue) Notification Area Styles
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

.xp-systray
{
    background-image:  url("../Resources/taskband_tray_horz_body.png");
    background-repeat: repeat-x;
    background-size:   1px 100%;
    border-image:      url("../Resources/taskband_tray_horz.png") 5 0 3 16 stretch;
    border-style:      solid;
    border-width:      5px 0px 3px 16px;
    color:             #FFFFFF;
    padding-right:     14px;
}
