/**
 * wintc-taskband.scss - Theme Base XFCE Panel Styles
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

.wintc-taskband
{
    // NOTE: You would think that theming the panel is simple, right? Just stretch the
    //       taskband texture to the full size of the panel...
    //
    //       ...except no, because we run into yet another GTK bug where for some
    //       reason the filtering applied to stretched textures is blended with
    //       transparency, so you get transparent blending on the edges
    //
    //       ...and even better than that! You'd think we could just repeat the texture
    //       as-is along the x-axis, but NO! Another bug! The texture is repeated with
    //       a transparent gap between each one, unless we downsize it (which is what
    //       the 10px width is for)
    //
    //       Got to love GTK sometimes...
    //

    @include __wintc_apply_props($taskband_styles);

    & > box
    {
        @include __wintc_apply_specific_props(
            $taskband_styles,
            "color"
        );

        & > box
        {
            margin-right: $taskband_toolbar_gap;
        }
    }

    menuitem
    {
        color: $fg_color;
    }

    button
    {
        @include __wintc_apply_props($taskband_button_styles);

        &:hover
        {
            @include __wintc_apply_props(
                $taskband_button_hover_styles
            );
        }

        &:checked
        {
            @include __wintc_apply_props(
                $taskband_button_selected_styles
            );
        }

        &:checked:hover
        {
            @include __wintc_apply_props(
                $taskband_button_selected_hover_styles
            );
        }

        &:active,
        &:checked:active
        {
            @include __wintc_apply_props(
                $taskband_button_press_styles
            );
        }

        &.flat
        {
            @include __wintc_apply_props($taskband_flat_button_styles);

            &:hover
            {
                @include __wintc_apply_props(
                    $taskband_flat_button_hover_styles
                );
            }

            &:checked
            {
                @include __wintc_apply_props(
                    $taskband_flat_button_selected_styles
                );
            }

            &:checked:hover
            {
                @include __wintc_apply_props(
                    $taskband_flat_button_selected_hover_styles
                );
            }

            &:active,
            &:checked:active
            {
                @include __wintc_apply_props(
                    $taskband_flat_button_press_styles
                );
            }
        }
    }

    .wintc-taskbuttons
    {
        button
        {
            @include __wintc_apply_props($taskband_task_button_styles);

            &:hover
            {
                @include __wintc_apply_props(
                    $taskband_task_button_hover_styles
                );
            }

            &:checked
            {
                @include __wintc_apply_props(
                    $taskband_task_button_selected_styles
                );
            }

            &:checked:hover
            {
                @include __wintc_apply_props(
                    $taskband_task_button_selected_hover_styles
                );
            }

            &:active,
            &:checked:active
            {
                @include __wintc_apply_props(
                    $taskband_task_button_press_styles
                );
            }

            // Margin biased to the right
            //
            &:last-child
            {
                margin-right: 0px;
            }
        }

        image
        {
            @include __wintc_apply_props(
                $taskband_task_button_icon_styles
            );
        }
    }
}
