/**
 * Sizing metrics - these are standard classes to provide spacing for the
 * Adwaita theme, to be overridden by the WinTC themes
 *
 * Default sizing¬
 *   sm: 2px
 *   md: 8px
 *   lg: 16px
 */

/** small **/
.wintc-mb-sm { margin-bottom: 2px; }
.wintc-ml-sm { margin-left:   2px; }
.wintc-mr-sm { margin-right:  2px; }
.wintc-mt-sm { margin-top:    2px; }

/** medium **/
.wintc-mb-md { margin-bottom: 8px; }
.wintc-ml-md { margin-left:   8px; }
.wintc-mr-md { margin-right:  8px; }
.wintc-mt-md { margin-top:    8px; }

/** large **/
.wintc-mb-lg { margin-bottom: 16px; }
.wintc-ml-lg { margin-left:   16px; }
.wintc-mr-lg { margin-right:  16px; }
.wintc-mt-lg { margin-top:    16px; }

box.horizontal.wintc-button-box button
{
    margin: 0px 4px;
}

box.horizontal.wintc-button-box button:first-child
{
    margin-left: 0px;
}

box.horizontal.wintc-button-box button:last-child
{
    margin-right: 0px;
}

box.vertical.wintc-button-box button
{
    margin: 4px 0px;
}

box.vertical.wintc-button-box button:first-child
{
    margin-top: 0px;
}

box.vertical.wintc-button-box button:last-child
{
    margin-bottom: 0px;
}

/**
 * Edges
 */
.wintc-edge-bottom
{
    border-bottom: 1px solid @borders;
}

.wintc-edge-left
{
    border-left: 1px solid @borders;
}

.wintc-edge-right
{
    border-right: 1px solid @borders;
}

.wintc-edge-top
{
    border-top: 1px solid @borders;
}
