/**
 * _all.scss - Zune Colour Constant SCSS Aggregation Document
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

@import "borders";
@import "menu";
