/**
 * _all.scss - Theme Base Style Constant SCSS Aggregation Document
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

@import "button";
@import "checkradio";
@import "entry";
@import "combobox";
@import "scale";
@import "progressbar";
@import "menu";

@import "start-menu";
@import "systray";
@import "taskband";
