/**
 * button.scss - Theme Base Button Style Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

//
// STANDARD BUTTONS
//
$button_styles:
    wintc_define_props_bg(
        $button_styles,
        true,
        $threed_objects_bg,
        undefined,
        undefined,
        undefined,
        undefined
    );
$button_styles:
    wintc_define_props_borders(
        $button_styles,
        true,
        solid,
        3,
        3,
        3,
        3,
        undefined,
        url('../Resources/button_border.png')
    );

$button_focused_styles:
    wintc_define_props_bg(
        $button_focused_styles,
        true,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined
    );
$button_focused_styles:
    wintc_define_props_borders(
        $button_focused_styles,
        true,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/button_active_border.png')
    );

$button_hover_styles:
    wintc_define_props_bg(
        $button_hover_styles,
        true,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined
    );
$button_hover_styles:
    wintc_define_props_borders(
        $button_hover_styles,
        true,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined
    );

$button_press_styles:
    wintc_define_props_bg(
        $button_press_styles,
        true,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined
    );
$button_press_styles:
    wintc_define_props_borders(
        $button_press_styles,
        true,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/button_press_border.png')
    );

$button_inactive_styles:
    wintc_define_props_bg(
        $button_inactive_styles,
        true,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined
    );
$button_inactive_styles:
    wintc_define_props_borders(
        $button_inactive_styles,
        true,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined
    );
$button_inactive_styles:
    wintc_define_props_fg(
        $button_inactive_styles,
        true,
        $insensitive_fg_color,
        undefined
    );


//
// TOGGLE BUTTON
//
$toggle_button_styles:
    wintc_define_props_borders(
        $toggle_button_styles,
        true,
        solid,
        2,
        2,
        2,
        2,
        undefined,
        url('../Resources/button_border.png')
    );
$toggle_button_styles:
    wintc_define_props_box(
        $toggle_button_styles,
        true,
        padding,
        1,
        1,
        1,
        1
    );

$toggle_button_selected_styles:
    wintc_define_props_borders(
        $toggle_button_selected_styles,
        true,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/toggle_button_selected_border.png')
    );
$toggle_button_selected_styles:
    wintc_define_props_bg(
        $toggle_button_selected_styles,
        true,
        undefined,
        undefined,
        repeat,
        undefined,
        url('../Resources/toggle_button_selected.png')
    );

$toggle_button_press_styles:
    wintc_define_props_bg(
        $toggle_button_press_styles,
        true,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined
    );
$toggle_button_press_styles:
    wintc_define_props_borders(
        $toggle_button_press_styles,
        true,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/toggle_button_selected_border.png')
    );
$toggle_button_press_styles:
    wintc_define_props_box(
        $toggle_button_press_styles,
        true,
        padding,
        2,
        0,
        0,
        2
    );


//
// FLAT/TOOLBAR BUTTONS
//
$toolbar_button_hover_styles:
    wintc_define_props_borders(
        $toolbar_button_hover_styles,
        true,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/button_toolbar_hover_border.png')
    );

$toolbar_button_press_styles:
    wintc_define_props_borders(
        $toolbar_button_press_styles,
        true,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/button_toolbar_press_border.png')
    );
