/**
 * start-menu.scss - Theme Base Start Button and Menu Style Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$start_flag_size: 16px !default;
$start_text_case: upper !default;

$start_flag_styles:
    wintc_define_props_bg(
        $start_flag_styles,
        true,
        undefined,
        contain,
        no-repeat,
        0px -1px,
        url('../Resources/gtk-3.0/start_flag.png')
    );
$start_flag_styles:
    wintc_define_props_box(
        $start_flag_styles,
        true,
        margin,
        undefined,
        2,
        undefined,
        -1
    );

$start_button_styles:
    wintc_define_props_borders(
        $start_button_styles,
        true,
        solid,
        2,
        2,
        2,
        2,
        default,
        default
    );
$start_button_styles:
    wintc_define_props_box(
        $start_button_styles,
        true,
        margin,
        4,
        undefined,
        4,
        2
    );
$start_button_styles:
    wintc_define_props_fg(
        $start_button_styles,
        true,
        $threed_objects_fg,
        undefined
    );
$start_button_styles:
    wintc_define_props_font(
        $start_button_styles,
        true,
        undefined,
        undefined,
        undefined,
        bold
    );

$start_button_selected_styles:
    wintc_define_props_box(
        $start_button_selected_styles,
        true,
        padding,
        2,
        0,
        0,
        2
    );

$start_button_text_styles:
    wintc_define_props_box(
        $start_button_text_styles,
        true,
        margin,
        undefined,
        undefined,
        undefined,
        undefined
    );
