/**
 * start-menu.scss - Theme Base Start Button and Menu Style Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$start_flag_size: 20px !default;

$start_flag_styles:
    wintc_define_props_bg(
        $start_flag_styles,
        true,
        undefined,
        undefined,
        no-repeat,
        0px 3px,
        url('../Resources/gtk-3.0/start_flag.png')
    );
$start_flag_styles:
    wintc_define_props_box(
        $start_flag_styles,
        true,
        margin,
        undefined,
        4,
        undefined,
        5
    );

$start_button_styles:
    wintc_define_props_fg(
        $start_button_styles,
        true,
        $threed_objects_fg,
        undefined
    );
$start_button_styles:
    wintc_define_props_font(
        $start_button_styles,
        true,
        undefined,
        undefined,
        undefined,
        bold
    );
