/**
 * start-menu.scss - Theme Base Start Button and Menu Style Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$start_flag_size: 16px !default;
$start_text_case: upper !default;

$start_menu_allprograms_height: 30px !default;
$start_menu_allprograms_arrow_width: 4px !default;

$start_menu_display_userpic: false !default;

$start_menu_programs_column_width: 182px !default;
$start_menu_places_column_width: 178px !default;

$start_menu_popup_menu_vmargin: 0px !default;

$start_menu_separator_thickness: $separator_thickness !default;

//
// START BUTTON
//
$start_flag_styles:
    wintc_define_props_bg(
        $start_flag_styles,
        true,
        undefined,
        contain,
        no-repeat,
        0px -1px,
        url('../Resources/gtk-3.0/start_flag.png')
    );
$start_flag_styles:
    wintc_define_props_box(
        $start_flag_styles,
        true,
        margin,
        undefined,
        2,
        undefined,
        -1
    );

$start_button_styles:
    wintc_define_props_borders(
        $start_button_styles,
        true,
        solid,
        2,
        2,
        2,
        2,
        default,
        default
    );
$start_button_styles:
    wintc_define_props_box(
        $start_button_styles,
        true,
        margin,
        4,
        undefined,
        4,
        2
    );
$start_button_styles:
    wintc_define_props_fg(
        $start_button_styles,
        true,
        $threed_objects_fg,
        undefined
    );
$start_button_styles:
    wintc_define_props_font(
        $start_button_styles,
        true,
        undefined,
        undefined,
        undefined,
        bold
    );

$start_button_selected_styles:
    wintc_define_props_box(
        $start_button_selected_styles,
        true,
        padding,
        2,
        0,
        0,
        2
    );

$start_button_text_styles:
    wintc_define_props_box(
        $start_button_text_styles,
        true,
        margin,
        undefined,
        undefined,
        undefined,
        undefined
    );

//
// START MENU
//
$start_menu_styles:
    wintc_define_props_bg(
        $start_menu_styles,
        true,
        $bg_color,
        undefined,
        undefined,
        undefined,
        undefined
    );
$start_menu_styles:
    wintc_define_props_borders(
        $start_menu_styles,
        true,
        solid,
        2,
        2,
        2,
        2,
        undefined,
        url('../Resources/popup_menu_border.png')
    );


//
// START MENU HORIZONTAL USER PANE
//
$start_menu_horz_userpane_styles:
    wintc_define_props_bg(
        $start_menu_horz_userpane_styles,
        true,
        undefined,
        undefined,
        undefined,
        undefined,
        linear-gradient(90deg, $active_title_bar_bg1 0%, $active_title_bar_bg2 100%)
    );
$start_menu_horz_userpane_styles:
    wintc_define_props_box(
        $start_menu_horz_userpane_styles,
        true,
        margin,
        3,
        3,
        0,
        3
    );

$start_menu_horz_username_styles:
    wintc_define_props_box(
        $start_menu_horz_username_styles,
        true,
        margin,
        8,
        8,
        8,
        8
    );
$start_menu_horz_username_styles:
    wintc_define_props_font(
        $start_menu_horz_username_styles,
        true,
        undefined,
        14pt,
        italic,
        bold
    );
$start_menu_horz_username_styles:
    wintc_define_props_fg(
        $start_menu_horz_username_styles,
        true,
        $active_title_bar_fg,
        undefined
    );


//
// START MENU PROGRAMS COLUMN
//
$start_menu_programs_column_styles:
    wintc_define_props_borders(
        $start_menu_programs_column_styles,
        true,
        solid,
        0,
        0,
        2,
        0,
        undefined,
        url('../Resources/start_programs_border.png')
    );
$start_menu_programs_column_styles:
    wintc_define_props_box(
        $start_menu_programs_column_styles,
        true,
        margin,
        undefined,
        undefined,
        undefined,
        3
    );
$start_menu_programs_column_styles:
    wintc_define_props_box(
        $start_menu_programs_column_styles,
        true,
        padding,
        undefined,
        4,
        undefined,
        4
    );

$start_menu_programs_menuitem_styles:
    wintc_define_props_box(
        $start_menu_programs_menuitem_styles,
        true,
        margin,
        4,
        undefined,
        0,
        undefined
    );
$start_menu_programs_menuitem_styles:
    wintc_define_props_box(
        $start_menu_programs_menuitem_styles,
        true,
        padding,
        2,
        2,
        2,
        2
    );

$start_menu_programs_menuitem_icon_styles:
    wintc_define_props_box(
        $start_menu_programs_menuitem_icon_styles,
        true,
        margin,
        0,
        4,
        0,
        0
    );

$start_menu_programs_menuitem_mime_cattxt_styles:
    wintc_define_props_font(
        $start_menu_programs_menuitem_mime_cattxt_styles,
        true,
        undefined,
        undefined,
        undefined,
        bold
    );

$start_menu_programs_separator_styles:
    wintc_define_props_box(
        $start_menu_programs_separator_styles,
        true,
        margin,
        7,
        undefined,
        0,
        undefined
    );


//
// 'ALL PROGRAMS' MENU ITEM
//
$start_menu_allprograms_menuitem_styles:
    wintc_define_props_box(
        $start_menu_allprograms_menuitem_styles,
        true,
        margin,
        0,
        undefined,
        undefined,
        undefined
    );
$start_menu_allprograms_menuitem_styles:
    wintc_define_props_font(
        $start_menu_allprograms_menuitem_styles,
        true,
        undefined,
        undefined,
        undefined,
        normal
    );

$start_menu_allprograms_arrow_styles:
    wintc_define_props_bg(
        $start_menu_allprograms_arrow_styles,
        true,
        undefined,
        undefined,
        no-repeat,
        left center,
        url('../Resources/all_programs_arrow.png')
    );
$start_menu_allprograms_arrow_styles:
    wintc_define_props_box(
        $start_menu_allprograms_arrow_styles,
        true,
        margin,
        undefined,
        undefined,
        undefined,
        13
    );

$start_menu_allprograms_arrow_hover_styles:
    wintc_define_props_bg(
        $start_menu_allprograms_arrow_hover_styles,
        true,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/all_programs_arrow_hover.png')
    );

$start_menu_allprograms_separator_styles:
    wintc_define_props_box(
        $start_menu_allprograms_separator_styles,
        true,
        margin,
        20,
        undefined,
        undefined,
        undefined
    );


//
// START MENU PLACES COLUMN
//
$start_menu_places_column_styles:
    wintc_define_props_borders(
        $start_menu_places_column_styles,
        true,
        solid,
        0,
        0,
        2,
        2,
        undefined,
        url('../Resources/start_places_border.png')
    );
$start_menu_places_column_styles:
    wintc_define_props_box(
        $start_menu_places_column_styles,
        true,
        margin,
        undefined,
        3,
        undefined,
        undefined
    );
$start_menu_places_column_styles:
    wintc_define_props_box(
        $start_menu_places_column_styles,
        true,
        padding,
        undefined,
        undefined,
        4,
        4
    );

$start_menu_places_menuitem_styles:
    wintc_define_props_box(
        $start_menu_places_menuitem_styles,
        true,
        margin,
        4,
        undefined,
        0,
        undefined
    );
$start_menu_places_menuitem_styles:
    wintc_define_props_box(
        $start_menu_places_menuitem_styles,
        true,
        padding,
        1,
        1,
        1,
        1
    );

$start_menu_places_menuitem_icon_styles:
    wintc_define_props_box(
        $start_menu_places_menuitem_icon_styles,
        true,
        margin,
        0,
        4,
        0,
        0
    );

$start_menu_places_menuitem_top_styles:
    wintc_define_props_font(
        $start_menu_places_menuitem_top_styles,
        true,
        undefined,
        undefined,
        undefined,
        bold
    );

$start_menu_places_separator_styles:
    wintc_define_props_box(
        $start_menu_places_separator_styles,
        true,
        margin,
        7,
        undefined,
        -1,
        undefined
    );


//
// START MENU LOGOFF PANE
//
$start_menu_button_styles:
    wintc_define_props_box(
        $start_menu_button_styles,
        true,
        margin,
        2,
        3,
        3,
        0
    );
$start_menu_button_styles:
    wintc_define_props_box(
        $start_menu_button_styles,
        true,
        padding,
        2,
        8,
        2,
        2,
    );

$start_menu_button_hover_styles:
    wintc_define_props_bg(
        $start_menu_button_hover_styles,
        true,
        $selected_bg_color,
        undefined,
        undefined,
        undefined,
        undefined
    );
$start_menu_button_hover_styles:
    wintc_define_props_fg(
        $start_menu_button_hover_styles,
        true,
        $selected_fg_color,
        undefined
    );

$start_menu_button_press_styles:
    wintc_define_props_bg(
        $start_menu_button_press_styles,
        true,
        $selected_bg_color,
        undefined,
        undefined,
        undefined,
        undefined
    );
$start_menu_button_press_styles:
    wintc_define_props_box(
        $start_menu_button_press_styles,
        true,
        padding,
        3,
        7,
        1,
        3
    );

$start_menu_button_icon_styles:
    wintc_define_props_box(
        $start_menu_button_icon_styles,
        true,
        margin,
        undefined,
        4,
        undefined,
        undefined
    );
