/**
 * taskband.scss - Theme Base Taskband Style Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

// Taskband itself
//
$taskband_horz_margins: 7px !default;

// Taskband buttons
//
$taskband_button_styles:
    wintc_define_props_box(
        $taskband_button_styles,
        true,
        margin,
        3,
        0,
        2,
        3
    );

$taskband_button_press_styles:
    wintc_define_props_borders(
        $taskband_button_press_styles,
        true,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/taskband_button_press_border.png')
    );

$taskband_button_selected_styles:
    wintc_define_props_bg(
        $taskband_button_selected_styles,
        true,
        undefined,
        undefined,
        repeat,
        undefined,
        url('../Resources/taskband_button_selected.png')
    );
$taskband_button_selected_styles:
    wintc_define_props_borders(
        $taskband_button_selected_styles,
        true,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/taskband_button_press_border.png')
    );
