/**
 * csd.scss - Royale Noir Style GTK 3 CSD Style Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$csd_window_hack_border_radius: 5px;

$caption_button_spacing: 2px;
$close_button_spacing: 0px;


//
// CSD WINDOW ITSELF
//
$csd_window_styles:
    wintc_define_props_borders(
        $csd_window_styles,
        false,
        solid,
        0,
        4,
        4,
        4,
        undefined,
        default
    );

$csd_window_backdrop_styles:
    wintc_define_props_borders(
        $csd_window_backdrop_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/csd_window_backdrop_border.png')
    );


//
// HEADERBAR
//
$headerbar_styles:
    wintc_define_props_bg(
        $headerbar_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        linear-gradient(180deg,rgba(145, 145, 149, 1) 0%, rgba(145, 145, 149, 1) 4%, rgba(103, 115, 124, 1) 4%, rgba(92, 105, 116, 1) 15%, rgba(75, 87, 103, 1) 49%, rgba(51, 65, 82, 1) 52%, rgba(35, 42, 61, 1) 100%)
    );
$headerbar_styles:
    wintc_define_props_borders(
        $headerbar_styles,
        false,
        solid,
        1,
        9,
        1,
        9,
        undefined,
        default
    );
$headerbar_styles:
    wintc_define_props_box(
        $headerbar_styles,
        false,
        padding,
        1,
        0,
        0,
        0
    );

$headerbar_backdrop_styles:
    wintc_define_props_bg(
        $headerbar_backdrop_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        linear-gradient(180deg,rgba(102, 111, 120, 1) 0%, rgba(102, 111, 120, 1) 4%, rgba(65, 72, 85, 1) 4%, rgba(79, 89, 100, 1) 49%, rgba(89, 99, 109, 1) 52%, rgba(110, 120, 126, 1) 100%)
    );
$headerbar_backdrop_styles:
    wintc_define_props_borders(
        $headerbar_backdrop_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/headerbar_backdrop_border.png')
    );

$headerbar_maximized_styles:
    wintc_define_props_borders(
        $headerbar_maximized_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/headerbar_maximized_border.png')
    );

$headerbar_maximized_backdrop_styles:
    wintc_define_props_borders(
        $headerbar_maximized_backdrop_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/headerbar_maximized_backdrop_border.png')
    );


//
// CAPTION BUTTONS
//
$caption_button_styles:
    wintc_define_props_bg(
        $caption_button_styles,
        false,
        undefined,
        100% 100%,
        undefined,
        undefined,
        url('../Resources/caption_button.png'),
        linear-gradient(180deg,rgba(95, 105, 116, 1) 0%, rgba(81, 92, 106, 1) 49%, rgba(65, 78, 94, 1) 51%, rgba(52, 65, 80, 1) 70%, rgba(72, 80, 92, 1) 100%)
    );
$caption_button_styles:
    wintc_define_props_borders(
        $caption_button_styles,
        false,
        solid,
        3,
        3,
        3,
        3,
        undefined,
        url('../Resources/caption_button_border.png')
    );
$caption_button_styles:
    wintc_define_props_fg(
        $caption_button_styles,
        false,
        #FFF,
        undefined
    );

$caption_button_hover_styles:
    wintc_define_props_bg(
        $caption_button_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_hover.png'),
        linear-gradient(180deg,rgba(96, 106, 117, 1) 0%, rgba(92, 102, 116, 1) 49%, rgba(79, 92, 107, 1) 51%, rgba(71, 85, 100, 1) 70%, rgba(95, 103, 114, 1) 100%)
    );
$caption_button_hover_styles:
    wintc_define_props_borders(
        $caption_button_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_hover_border.png')
    );

$caption_button_focused_styles: map-clone($caption_button_hover_styles);

$caption_button_press_styles:
    wintc_define_props_bg(
        $caption_button_press_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_press.png'),
        linear-gradient(180deg,rgba(45, 53, 65, 1) 0%, rgba(20, 28, 42, 1) 49%, rgba(6, 13, 27, 1) 51%, rgba(8, 16, 30, 1) 70%, rgba(5, 12, 27, 1) 100%)
    );
$caption_button_press_styles:
    wintc_define_props_borders(
        $caption_button_press_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_press_border.png')
    );
$caption_button_press_styles:
    wintc_define_props_fg(
        $caption_button_press_styles,
        false,
        #BABBBC,
        undefined
    );

$caption_button_selected_styles: map-clone($caption_button_press_styles);

$caption_button_inactive_styles:
    wintc_define_props_bg(
        $caption_button_inactive_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_inactive.png'),
        linear-gradient(180deg,rgba(94, 104, 115, 1) 0%, rgba(80, 91, 105, 1) 49%, rgba(63, 76, 92, 1) 51%, rgba(51, 63, 78, 1) 70%, rgba(71, 78, 91, 1) 100%)
    );
$caption_button_inactive_styles:
    wintc_define_props_borders(
        $caption_button_inactive_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_inactive_border.png')
    );
$caption_button_inactive_styles:
    wintc_define_props_fg(
        $caption_button_inactive_styles,
        false,
        #A9AAAB,
        undefined
    );

$caption_button_backdrop_styles:
    wintc_define_props_bg(
        $caption_button_backdrop_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_backdrop.png'),
        linear-gradient(180deg,rgba(79, 86, 97, 1) 0%, rgba(72, 84, 98, 1) 49%, rgba(86, 97, 109, 1) 51%, rgba(88, 98, 110, 1) 70%, rgba(99, 109, 118, 1) 100%)
    );
$caption_button_backdrop_styles:
    wintc_define_props_borders(
        $caption_button_backdrop_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_backdrop_border.png')
    );

$caption_button_backdrop_hover_styles:
    wintc_define_props_bg(
        $caption_button_backdrop_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_backdrop_hover.png'),
        linear-gradient(180deg,rgba(96, 106, 117, 1) 0%, rgba(92, 102, 116, 1) 49%, rgba(79, 92, 107, 1) 51%, rgba(73, 86, 101, 1) 70%, rgba(95, 103, 114, 1) 100%)
    );
$caption_button_backdrop_hover_styles:
    wintc_define_props_borders(
        $caption_button_backdrop_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_backdrop_hover_border.png')
    );

$caption_button_backdrop_press_styles:
    wintc_define_props_bg(
        $caption_button_backdrop_press_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_backdrop_press.png'),
        linear-gradient(180deg,rgba(45, 53, 65, 1) 0%, rgba(20, 28, 42, 1) 49%, rgba(6, 13, 27, 1) 51%, rgba(8, 16, 30, 1) 70%, rgba(5, 12, 27, 1) 100%)
    );
$caption_button_backdrop_press_styles:
    wintc_define_props_borders(
        $caption_button_backdrop_press_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_backdrop_press_border.png')
    );
$caption_button_backdrop_press_styles:
    wintc_define_props_fg(
        $caption_button_backdrop_press_styles,
        false,
        #BABBBC,
        undefined
    );

$caption_button_backdrop_selected_styles: map-clone($caption_button_backdrop_press_styles);

$caption_button_backdrop_inactive_styles:
    wintc_define_props_bg(
        $caption_button_backdrop_inactive_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_backdrop_inactive.png'),
        linear-gradient(180deg,rgba(79, 86, 97, 1) 0%, rgba(72, 84, 98, 1) 49%, rgba(86, 97, 109, 1) 51%, rgba(88, 98, 110, 1) 70%, rgba(99, 109, 118, 1) 100%)
    );
$caption_button_backdrop_inactive_styles:
    wintc_define_props_borders(
        $caption_button_backdrop_inactive_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_backdrop_inactive_border.png')
    );
$caption_button_backdrop_inactive_styles:
    wintc_define_props_fg(
        $caption_button_backdrop_inactive_styles,
        false,
        #A9AAAB,
        undefined
    );

$close_button_styles:
    wintc_define_props_bg(
        $close_button_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button.png')
    );
$close_button_styles:
    wintc_define_props_borders(
        $close_button_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_border.png')
    );

$close_button_hover_styles:
    wintc_define_props_bg(
        $close_button_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_hover.png')
    );
$close_button_hover_styles:
    wintc_define_props_borders(
        $close_button_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_hover_border.png')
    );

$close_button_focused_styles: map-clone($close_button_hover_styles);

$close_button_press_styles:
    wintc_define_props_bg(
        $close_button_press_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_press.png')
    );
$close_button_press_styles:
    wintc_define_props_borders(
        $close_button_press_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_press_border.png')
    );
$close_button_press_styles:
    wintc_define_props_fg(
        $close_button_press_styles,
        false,
        #DF9A87,
        undefined
    );

$close_button_inactive_styles:
    wintc_define_props_bg(
        $close_button_inactive_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_inactive.png')
    );
$close_button_inactive_styles:
    wintc_define_props_borders(
        $close_button_inactive_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_inactive_border.png')
    );
$close_button_inactive_styles:
    wintc_define_props_fg(
        $close_button_inactive_styles,
        false,
        #A9AAAB,
        undefined
    );

$close_button_backdrop_styles:
    wintc_define_props_bg(
        $close_button_backdrop_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_backdrop.png')
    );
$close_button_backdrop_styles:
    wintc_define_props_borders(
        $close_button_backdrop_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_backdrop_border.png')
    );

$close_button_backdrop_hover_styles:
    wintc_define_props_bg(
        $close_button_backdrop_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_backdrop_hover.png')
    );
$close_button_backdrop_hover_styles:
    wintc_define_props_borders(
        $close_button_backdrop_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_backdrop_hover_border.png')
    );

$close_button_backdrop_focused_styles: map-clone($close_button_backdrop_hover_styles);

$close_button_backdrop_press_styles:
    wintc_define_props_bg(
        $close_button_backdrop_press_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_backdrop_press.png')
    );
$close_button_backdrop_press_styles:
    wintc_define_props_borders(
        $close_button_backdrop_press_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_backdrop_press_border.png')
    );
$close_button_backdrop_press_styles:
    wintc_define_props_fg(
        $close_button_backdrop_press_styles,
        false,
        #CBADBA,
        undefined
    );

$close_button_backdrop_inactive_styles:
    wintc_define_props_bg(
        $close_button_backdrop_inactive_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_backdrop_inactive.png')
    );
$close_button_backdrop_inactive_styles:
    wintc_define_props_borders(
        $close_button_backdrop_inactive_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_backdrop_inactive_border.png')
    );
$close_button_backdrop_inactive_styles:
    wintc_define_props_fg(
        $close_button_backdrop_inactive_styles,
        false,
        #A9AAAB,
        undefined
    );
