# Temporary files
#
.sass-cache/
mui-stuff/
*.swp
*.kra
*~

# Log files
#
*.log

# Python venv
#
.venv/

# Build output
#
[Bb]uild/
config.h
libapi.h
marshal.c
marshal.h
meta.h
resources.c
*.deb
*.pkg
*.pkg.tar.zst
*.pot
*.pyc
*.rpm
