[Desktop Entry]
Name=Notepad
Comment=Creates and edits text files using basic text formatting.
Exec=notepad %F
Icon=notepad
Terminal=false
StartupNotify=false
Type=Application
Categories=Utility;TextEditor;GTK;
MimeType=text/plain;
