/**
 * xfce-window-buttons.scss - Luna (Blue) XFCE Window Buttons Styles
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

*
{
    -XfceTasklist-minimized-icon-lucency: 100;
}

.tasklist
{
    .label-hidden
    {
        opacity: 1.0;
    }

    button
    {
        background:      $taskband_button_background;
        background-size: 100% 100%;
        border:          $taskband_button_border;
        border-image:    $taskband_button_border_image;
        margin:          3px 0px 2px;

        &:hover
        {
            background:      $taskband_button_hover_background;
            background-size: 100% 100%;
            border:          $taskband_button_hover_border;
            border-image:    $taskband_button_hover_border_image;
        }

        &:checked
        {
            background:      $taskband_button_selected_background;
            background-size: 100% 100%;
            border:          $taskband_button_selected_border;
            border-image:    $taskband_button_selected_border_image;
        }

        &:checked:hover
        {
            background:      $taskband_button_selected_hover_background;
            background-size: 100% 100%;
            border:          $taskband_button_selected_hover_border;
            border-image:    $taskband_button_selected_hover_border_image;
        }

        &:active
        {
            background:      $taskband_button_press_background;
            background-size: 100% 100%;
            border:          $taskband_button_press_border;
            border-image:    $taskband_button_press_border_image;
        }
    }
}
