/**
 * headerbar.scss - Luna (Blue) Headerbar Functions/Mixins
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

@mixin headerbar_fill($c:$headerbar_color, $hc:$top_hilight, $ov: none) {
    //
    // Headerbar Fill
    //
    // $c:  base color
    // $hc: top highlight color
    // $ov: a background layer for background shorthand (hence no commas!)
    //
    $gradient: linear-gradient(to top, darken($c, 2%), lighten($c, 1%));

    @if $variant == 'dark'
    {
        $gradient: linear-gradient(to top, lighten($c, 4%), lighten($c, 6%));
    }

    @if $ov != none
    {
        background: $c $ov, $gradient;
    }
    @else
    {
        background: $c $gradient;
    }

    box-shadow: inset 0 1px $hc; // top highlight
}
