/**
 * borders.scss - Luna (Blue) Border Colour Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$selected_borders_color: #7f9db9;
$borders_color:          #7f9db9;
$alt_borders_color:      #7f9db9;
$borders_edge:           #7f9db9;
