/**
 * checkradio.scss - Luna (Blue) Check Box and Radio Button Colour Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$checkradio_bg_color:      if($variant == 'light', $selected_bg_color, lighten($selected_bg_color, 10%));
$checkradio_fg_color:      $selected_fg_color;
$checkradio_borders_color: if($variant == 'light', darken($checkradio_bg_color, 20%), darken($checkradio_bg_color, 40%));
