/**
 * combobox.scss - Luna (Blue) Combobox Styles
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

combobox
{
    background-color: $base_color;
    border:           1px solid $borders_color;

    &:disabled
    {
        background-color: $insensitive_bg_color;
    }

    // Override button styles
    //
    button.combo:last-child
    {
        background-image:    url("../Resources/combobox_button.png");
        background-position: right;
        background-repeat:   no-repeat;
        background-size:     contain;
        border-width:        0px;
        margin:              1px;
        min-height:          18px;
        min-width:           15px;
        padding-right:       18px;

        &:active
        {
            background-image: url("../Resources/combobox_button_press.png");
        }

        &:hover
        {
            background-image: url("../Resources/combobox_button_hover.png");
        }

        &:disabled
        {
            background-image: url("../Resources/combobox_button_inactive.png");
        }
    }

    // Necessary to prevent "double border", because the entry widget also defines
    // a border of its own
    //
    entry
    {
        border-width: 0px;
    }

    // FIXME: Untested
    //
    &:drop(active)
    {
        box-shadow: none;

        button.combo
        {
            @extend %button_basic_drop_active;
        }
    }
}
