/**
 * constants.scss - Luna (Blue) Constants for Styles
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$ease-out-quad:       cubic-bezier(0.25, 0.46, 0.45, 0.94);
$asset_suffix:        if($variant == 'dark', '-dark', '');
$backdrop_transition: 200ms ease-out;
$button_transition:   none;
$button_radius:       0px;
$menu_radius:         0px;
$window_radius:       $button_radius + 3;
$popover_radius:      $button_radius + 4;
