/**
 * headerbar.scss - Luna (Blue) Headerbar Styles
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

%titlebar,
headerbar
{
    background-image:    url("../Resources/headerbar-body.png");
    background-position: center -2px;
    background-size:     3px 110%;
    border-image:        url("../Resources/headerbar-frame-csd.png") 5 9 3 9 stretch;
    border-style:        solid;
    border-width:        5px 9px 3px;
    min-height:          $_headerbar_height;
    padding:             0 6px;

    &:backdrop
    {
        background-image: url("../Resources/headerbar-body-backdrop.png");
        border-image:     url("../Resources/headerbar-frame-backdrop-csd.png") 5 9 3 9 stretch;
    }

    .title
    {
        color:         #FFF;
        font-weight:   bold;
        padding-left:  12px;
        padding-right: 12px;
    }

    .subtitle
    {
        color:         #FFF;
        font-size:     smaller;
        padding-left:  12px;
        padding-right: 12px;

        @extend .dim-label;
    }

    .selection-mode &,
    &.selection-mode
    {
        $_hc: mix($top_hilight, $suggested_bg_color, 50%); // Hilight color

        border-color: $suggested_border_color;
        color:        $selected_fg_color;
        text-shadow:  0 -1px transparentize(black, 0.5);

        @include headerbar_fill($suggested_bg_color, $_hc);

        .subtitle:link
        {
            @extend %link_selected;
        }

        button
        {
            @include button(normal, $suggested_bg_color, $selected_fg_color);

            @at-root %selection_mode_button_flat,
            &.flat
            {
                @include button(undecorated);
            }

            &:hover
            {
                @include button(hover, $suggested_bg_color, $selected_fg_color);
            }

            &:active,
            &:checked,
            &.toggle:checked,
            &.toggle:active
            {
                @include button(active, $suggested_bg_color, $selected_fg_color);
            }

            @at-root %selection_mode_button_flat,
            &.flat
            {
                &:backdrop,
                &:disabled,
                &:backdrop:disabled
                {
                    @include button(undecorated);
                }
            }

            &:disabled
            {
                @include button(insensitive, $suggested_bg_color, $selected_fg_color);

                &:active,
                &:checked
                {
                    @include button(insensitive-active, $suggested_bg_color, $selected_fg_color);
                }
            }

            &.suggested-action
            {
                @include button(normal);

                border-color: $suggested_border_color;

                &:hover
                {
                    @include button(hover);

                    border-color: $suggested_border_color;
                }

                &:active
                {
                    @include button(active);

                    border-color: $suggested_border_color;
                }

                &:disabled
                {
                    @include button(insensitive);

                    border-color: $suggested_border_color;
                }
            }
        }

        .selection-menu
        {
            &
            {
                background-color: transparentize($suggested_bg_color, 1);
                background-image: none;
                border-color:     transparentize($suggested_bg_color, 1);
                box-shadow:       none;
                min-height:       20px;
                padding:          $_sel_menu_pad;

                arrow
                {
                    -GtkArrow-arrow-scaling: 1;
                }

                .arrow
                {
                    color: transparentize($selected_fg_color, 0.5);
                    -gtk-icon-shadow: none;
                    -gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
                }
            }
        }
    }

    // Squared corners when the window is maximized, tiled, or fullscreen
    //
    .tiled        &,
    .tiled-top    &,
    .tiled-right  &,
    .tiled-bottom &,
    .tiled-left   &,
    .maximized    &,
    .fullscreen   &
    {
        &
        {
            border-image: url("../Resources/headerbar-frame.png") 5 9 3 9 stretch;
            
            &:backdrop
            {
                border-image: url("../Resources/header-frame-backdrop.png") 5 9 3 9 stretch;
            }
        }
    }

    &.default-decoration
    {
        padding:    4px;
    }

    // Hide the close button separator
    //
    separator.titlebutton
    {
        opacity: 0;
    }

    .solid-csd &
    {
        &
        {
            // Specificity bump
            //
            &:dir(rtl), &:dir(ltr)
            {
                margin-left:   -1px;
                margin-right:  -1px;
                margin-top:    -1px;
                border-radius: 0;
                box-shadow:    none;
            }
        }
     }

     // Bunch up window title buttons to match non-CSD windows
     //
     button.titlebutton
     {
         margin-right: -4px;
     }

     button.titlebutton:last-child
     {
         margin-right: -10px;
     }

     // Override button styles with caption buttons
     //
     button,
     button.flat,
     button.titlebutton
     {
         background-image:    url("../Resources/caption_button_body.png");
         background-position: center;
         background-size:     110% 110%;
         border-image:        url("../Resources/caption_button_border.png") 3 3 3 3 stretch;
         border-style:        solid;
         border-width:        3px;
         color:               #FFF;

         &:focus
         {
             background-image: url("../Resources/caption_button_body.png");
             border-image:     url("../Resources/caption_button_border.png") 3 3 3 3 stretch;
             color:            #FFF;
         }

         &:hover
         {
             background-image: url("../Resources/caption_button_hover_body.png");
             border-image:     url("../Resources/caption_button_hover_border.png") 3 3 3 3 stretch;
             color:            #FFF;
         }

         &:active
         {
             background-image: url("../Resources/caption_button_press_body.png");
             border-image:     url("../Resources/caption_button_press_border.png") 3 3 3 3 stretch;
             color:            #78A2D8;
         }

         &:checked
         {
             background-image: url("../Resources/caption_button_press_body.png");
             border-image:     url("../Resources/caption_button_press_border.png") 3 3 3 3 stretch;
             color:            #FFF;
         }

         &:disabled
         {
             background-image: url("../Resources/caption_button_inactive_body.png");
             border-image:     url("../Resources/caption_button_inactive_border.png") 3 3 3 3 stretch;
             color:            #8C9DE7;
         }

         &:backdrop
         {
             background-image: url("../Resources/caption_button_backdrop_body.png");
             border-image:     url("../Resources/caption_button_backdrop_border.png") 3 3 3 3 stretch;
             color:            #FFF;

             &:focus
             {
                 background-image: url("../Resources/caption_button_backdrop_body.png");
                 border-image:     url("../Resources/caption_button_backdrop_border.png") 3 3 3 3 stretch;
                 color:            #FFF;
             }

             &:hover
             {
                 background-image: url("../Resources/caption_button_backdrop_hover_body.png");
                 border-image:     url("../Resources/caption_button_backdrop_hover_border.png") 3 3 3 3 stretch;
                 color:            #FFF;
             }

             &:active
             {
                 background-image: url("../Resources/caption_button_backdrop_press_body.png");
                 border-image:     url("../Resources/caption_button_backdrop_press_border.png") 3 3 3 3 stretch;
                 color:            #97B0E2;
             }

             &:checked
             {
                 background-image: url("../Resources/caption_button_backdrop_press_body.png");
                 border-image:     url("../Resources/caption_button_backdrop_press_border.png") 3 3 3 3 stretch;
                 color:            #FFF;
             }

             &:disabled
             {
                 background-image: url("../Resources/caption_button_backdrop_inactive_body.png");
                 border-image:     url("../Resources/caption_button_backdrop_inactive_border.png") 3 3 3 3 stretch;
                 color:            #919FE6;
             }
         }
     }

     button.titlebutton:last-child
     {
         background-image:    url("../Resources/close_button_body.png");
         background-position: center;
         background-size:     110% 110%;
         border-image:        url("../Resources/close_button_border.png") 3 3 3 3 stretch;
         border-style:        solid;
         border-width:        3px;
         color:               #FFF;

         &:hover
         {
             background-image: url("../Resources/close_button_hover_body.png");
             border-image:     url("../Resources/close_button_hover_border.png") 3 3 3 3 stretch;
             color:            #FFF;
         }

         &:active,
         &:checked
         {
             background-image: url("../Resources/close_button_press_body.png");
             border-image:     url("../Resources/close_button_press_border.png") 3 3 3 3 stretch;
             color:            #DF9A88;
         }

         &:disabled
         {
             background-image: url("../Resources/close_button_inactive_body.png");
             border-image:     url("../Resources/close_button_inactive_border.png") 3 3 3 3 stretch;
             color:            #9598CC;
         }

         &:backdrop
         {
             background-image: url("../Resources/close_button_backdrop_body.png");
             border-image:     url("../Resources/close_button_backdrop_border.png") 3 3 3 3 stretch;
             color:            #FFF;

             &:hover
             {
                 background-image: url("../Resources/close_button_backdrop_hover_body.png");
                 border-image:     url("../Resources/close_button_backdrop_hover_border.png") 3 3 3 3 stretch;
                 color:            #FFF;
             }

             &:active,
             &:checked
             {
                 background-image: url("../Resources/close_button_backdrop_press_body.png");
                 border-image:     url("../Resources/close_button_backdrop_press_border.png") 3 3 3 3 stretch;
                 color:            #CBADBA;
             }

             &:disabled
             {
                 background-image: url("../Resources/close_button_backdrop_inactive_body.png");
                 border-image:     url("../Resources/close_button_backdrop_inactive_border.png") 3 3 3 3 stretch;
                 color:            #A0A2D8;
             }
         }
     }

     // FIXME: Not sure why this specificity hack is required - without this, disabled
     //        buttons in the headerbar lose these background properties
     //
     //        Odd, for now use this BODGE to forcefully rectify things, but it would
     //        be worthwhile to trudge through the source to identify why this is
     //        happening in the first place
     //
     //        I noticed this issue in Glade originally
     //
     &,
     buttonbox
     {
         & > button:disabled
         {
             background-position: center;
             background-repeat:   no-repeat;
             background-size:     110% 110%;
         }
     }
}

headerbar
{
    // Add vertical margins to common widget on the headerbar to avoid them spanning
    // the whole height
    //
    > buttonbox,
    > entry,
    > separator:not(.sidebar),
    > spinbutton
    {
        margin-bottom: 4px;
        margin-top:    4px;
    }

    switch
    {
        margin-top:    $_switch_margin;
        margin-bottom: $_switch_margin;
    }

    &.titlebar headerbar:not(.titlebar)
    {
        // Drop the background of non-titlebar nested headerbars. This is needed to
        // work around headerbar sliding animation issues without refactoring
        // Adwaita's support of titlebars and headerbars as it may break
        // applications.
        //
        // See https://gitlab.gnome.org/GNOME/gtk/issues/1264 for more information.
        //
        background: none;
        box-shadow: none;
    }
}

.titlebar:not(headerbar)
{
    window.csd > &
    {
        // In csd we assume every titlebar is a headerbar so reset anything, this is
        // needed for split toolbars cases
        //
        background-color: transparent;
        background-image: none;
        border-color:     transparent;
        border-style:     none;
        box-shadow:       none;
        padding:          0;
    }

    separator
    {
        background-color: $borders_color; // FIXME: Use darker border?
    }

    @extend %titlebar;
}

//
// Development versions of apps to use a differently styled headerbar
//
window.devel
{
    headerbar.titlebar:not(.selection-mode)
    {
        $c: darken($bg_color, 10%);
        $gradient: cross-fade(10% -gtk-icontheme("system-run-symbolic"),
                   image(transparent)) 90% 0/256px 256px no-repeat,
                   linear-gradient(to right, transparent 65%, transparentize($selected_bg_color, 0.8)),
                   linear-gradient(to top, darken($c, 3%), $c 3px, lighten($c, 6%));

        @if $variant == 'dark'
        {
            $gradient: cross-fade(10% -gtk-icontheme("system-run-symbolic"),
                       image(transparent)) 90% 0/256px 256px no-repeat,
                       linear-gradient(to right, transparent 65%, transparentize($selected_bg_color, 0.9)),
                       linear-gradient(to top, lighten($c, 3%) 3px, lighten($c, 5%));
        }

        background: $bg_color $gradient;
    }
}
