/**
 * notification.scss - Luna (Blue) App Notification Styles
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

.app-notification,
.app-notification.frame
{
    @extend %osd;
    
    background-color: $osd_bg_color;
    background-clip:  padding-box;
    background-image: linear-gradient(to bottom, transparentize(black, 0.8), transparent 2px);
    border-radius:    0 0 5px 5px;
    padding:          10px;
    
    &:backdrop
    {
        background-image: none;
        transition:       $backdrop_transition;
    }
    
    button
    {
        @extend %osd_button;
    }
    
    border
    {
        border: none;
    }
}
