/**
 * progressbar.scss - Luna (Blue) Progress Bar Styles
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

progressbar
{
    // Sizing
    //
    &.horizontal
    {
        trough,
        progress
        {
            min-height: 12px;
        }
    }

    &.vertical
    {
        trough,
        progress
        {
            min-width: 12px;
        }
    }

    // Imagery
    //
    &.horizontal
    {
        progress
        {
            background-image: url("../Resources/progress_horz_chunk.png");
        }

        trough
        {
            border-image: url("../Resources/progress_horz.png") 3 4 3 4 stretch;
            border-width: 3px 4px;
        }
    }

    &.vertical
    {
        progress
        {
            background-image: url("../Resources/progress_vert_chunk.png");
        }

        trough
        {
            border-image: url("../Resources/progress_vert.png") 4 3 4 3 stretch;
            border-width: 4px 3px;
        }
    }

    trough
    {
        background-color: #FFF;
        border-style:     solid;
    }
    
    // The progress node is positioned after the trough border this moves it over it
    //
//    &.horizontal progress { margin:  0   -1px; }
//    &.vertical   progress { margin: -1px  0;   }

    // FIXME: insensitive state missing and some other state should be set probably
    //
    font-size: smaller;
    font-feature-settings: "tnum";
    
    // progressbar.osd used for epiphany page loading process
    //
    &.osd
    { 
        background-color: transparent;
        min-height:       3px;
        min-width:        3px;
        
        trough
        {
            background-color: transparent;
            border-radius:    0;
            border-style:     none;
            box-shadow:       none;
        }

        progress
        {
            border-radius: 0;
            border-style:  none;
        }
    }
}
