/**
 * scale.scss - (Blue) Scale Styles
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

scale
{
    padding: 6px;

    &.horizontal
    {
        min-height: 21px;
        
        
        marks
        {
            margin-top: 11px;
            
            mark
            {
                indicator
                {
                    min-width: 1px;
                    min-height: 3px;
                }
                
                &:first-child indicator,
                &:last-child indicator
                {
                    min-height: 4px;
                }
            }
        }
        
        slider
        {
            background-image: url("../Resources/scale_horz_slider.png");
            margin: -11px -6px -10px -5px;
            min-height: 4px;
            
            
            &:hover
            {
                background-image: url("../Resources/scale_horz_slider_hover.png");
            }
        
            &:active
            {
                background-image: url("../Resources/scale_horz_slider_active.png");
            }
        
            &:disabled
            {
                background-image: url("../Resources/scale_horz_slider_inactive.png");
            }
        }
        
        trough
        {
            border-image: url("../Resources/scale_horz_trough.png") 2 2 2 2 stretch;
        }
        
        &.marks-after,
        &.marks-before
        {
            margin-top: 2px;
            
            
            slider
            {
                background-image: url("../Resources/scale_horz_slider_arrow.png");
            
            
                &:hover
                {
                    background-image: url("../Resources/scale_horz_slider_arrow_hover.png");
                }
        
                &:active
                {
                    background-image: url("../Resources/scale_horz_slider_arrow_active.png");
                }
        
                &:disabled
                {
                    background-image: url("../Resources/scale_horz_slider_arrow_inactive.png");
                }
            }
        }
    }
    
    &.vertical
    {
        min-width: 21px;
        
        
        marks
        {
            mark
            {
                indicator
                {
                    min-height: 1px;
                    min-width: 3px;
                }
                
                &:first-child indicator,
                &:last-child indicator
                {
                    min-width: 4px;
                }
            }
        }
        
        slider
        {
            background-image: url("../Resources/scale_vert_slider.png");
            margin: -6px -11px -5px -10px;
            min-width: 4px;
            
            
            &:hover
            {
                background-image: url("../Resources/scale_vert_slider_hover.png");
            }
        
            &:active
            {
                background-image: url("../Resources/scale_vert_slider_active.png");
            }
        
            &:disabled
            {
                background-image: url("../Resources/scale_vert_slider_inactive.png");
            }
        }
        
        trough
        {
            border-image: url("../Resources/scale_vert_trough.png") 2 2 2 2 stretch;
        }
        
        &.marks-after,
        &.marks-before,
        {
            margin-left: 2px;
            
            
            slider
            {
                background-image: url("../Resources/scale_vert_slider_arrow.png");
            
            
                &:hover
                {
                    background-image: url("../Resources/scale_vert_slider_arrow_hover.png");
                }
        
                &:active
                {
                    background-image: url("../Resources/scale_vert_slider_arrow_active.png");
                }
        
                &:disabled
                {
                    background-image: url("../Resources/scale_vert_slider_arrow_inactive.png");
                }
            }
        }
    }
    
    indicator
    {
        color: #A1A192;
    }
    
    trough
    {
        border-style: solid;
        border-width: 2px;
    }
    
    value
    {
        padding-bottom: 6px;
    }
}
