/**
 * sizing.scss - Luna (Blue) Sizing Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$_headerbar_height: 29px;
$_entry_height:     20px;
$_btn_pad:          4px 9px,  2px 6px;
$_hb_btn_pad:       6px,      5px;
$_img_btn_pad:      5px,      2px;
$_sel_menu_pad:     6px 10px, 4px 10px;
$_circ_btn_pad:     4px,      2px;
$_switch_margin:    10px,     7px;
