/**
 * switch.scss - Luna (Blue) Switch Styles
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

switch
{
    background:    linear-gradient(140deg, rgba(180,180,171,1) 0%, rgba(238,236,221,1) 100%);
    border:        1px solid #1C5180;
    border-radius: 14px;

    &:checked
    {
        background: linear-gradient(140deg, rgba(93,234,89,1) 0%, rgba(21,147,18,1) 100%);
    }

    &:disabled
    {
        background:   transparent;
        border-color: #C0BFB5;
    }

    slider
    {
        background:     linear-gradient(140deg, rgba(229,229,226,1) 0%, rgba(251,251,251,1) 100%);
        border:         1px solid #1C5180;
        border-radius:  50%;
        margin:        -1px;
        min-height:     15px;
        min-width:      15px;

        &:hover
        {
            background: linear-gradient(139deg, rgba(255,240,207,1) 0%, rgba(250,197,90,1) 100%);
        }

        &:disabled
        {
            background:   transparent;
            border-color: #C0BFB5;
        }
    }

    // Only show i / o for the accessible theme
    //
    image
    {
        color: transparent;
    }
}
