/**
 * tooltip.scss - Luna (Blue) Tooltip Styles
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

tooltip
{
    background-color: #FFFFE1;
    border:           1px solid #000;
    color:            #000;
}
