/**
 * borders.scss - Luna (Blue) Border Colour Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$borders_color:          darken($active_window_border_bg, 15%) !default;
$selected_borders_color: $borders_color !default;
$alt_borders_color:      $borders_color !default;
$borders_edge:           $borders_color !default;
