/**
 * headerbar.scss - Luna (Blue) Headerbar Colour Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$headerbar_color: lighten($bg_color, 5%);
