/**
 * insensitive.scss - Luna (Blue) Insensitive State Colour Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$insensitive_fg_color: $fg_color;
$insensitive_bg_color: $bg_color;
$insensitive_borders_color: $borders_color;
