/**
 * insensitive.scss - Luna (Blue) Insensitive State Colour Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$insensitive_fg_color: lighten(desaturate($fg_color, 30%), 20%) !default;
$insensitive_bg_color: $bg_color !default;
$insensitive_borders_color: $borders_color !default;
