/**
 * insensitive.scss - Luna (Blue) Insensitive State Colour Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$insensitive_fg_color: #ACA899 !default;
$insensitive_bg_color: $bg_color !default;
$insensitive_borders_color: #C9C7BA !default;
