/**
 * links.scss - Luna (Blue) Link Colour Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$link_color:         #0000ee !default;
$link_active_color:  #ee0000 !default;
$link_visited_color: #551a8b !default;
