/**
 * notebook.scss - Luna (Blue) Notebook Colour Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$notebook_bg_color:          #FCFCFE !default;
$notebook_borders_color:     #919B9C !default;
$notebook_selected_bg_color: #FCFCFE !default;
