/**
 * osd.scss - Luna (Blue) On-screen Display Colour Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$osd_fg_color:   #F57900;
$osd_text_color: #FFFFFF;
$osd_bg_color: transparentize(darken(desaturate(#3D3846, 100%), 4%), 0.1);
$osd_insensitive_bg_color: transparentize(mix($osd_fg_color, opacify($osd_bg_color, 1), 10%), 0.5);
$osd_insensitive_fg_color: mix($osd_fg_color, opacify($osd_bg_color, 1), 50%);
$osd_borders_color: transparentize(#000000, 0.3);
