/**
 * scrollbar.scss - Luna (Blue) Scrollbar Colour Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$scrollbar_bg_color:            mix($bg_color, $fg_color, 80%);
$scrollbar_slider_active_color: darken($selected_bg_color, 10%);
$scrollbar_slider_color:        mix($fg_color, $bg_color, 60%);
$scrollbar_slider_hover_color:  mix($fg_color, $bg_color, 80%);
