/**
 * selected-text.scss - Luna (Blue) Selected Text Colour Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$selected_fg_color: #FFFFFF !default;
$selected_bg_color: #316AC5 !default;
