/**
 * statuses.scss - Luna (Blue) Status Contextual Colour Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$warning_color:     #F57900;
$error_color:       #CC0000;
$success_color:     #33D17A;
$destructive_color: #E01B24;
