.xp-start-button .lower
{
    font-size: 0pt;
}

box > menubar > menuitem > box > image
{
    margin: 0px 6px 0px 2px;
}

box > menubar > separator
{
    margin: 4px 0px;
}

menuitem.xp-start-all-programs
{
    min-height: 32px;
}

menuitem.xp-start-all-programs > box
{
    font-weight: bold;
}

separator.xp-start-all-programs
{
    margin-top: 40px;
}

.xp-start-logoffpane button
{
    margin: 8px 3px;
}

.xp-start-logoffpane button:last-child
{
    margin-right: 8px;
}

.xp-start-userpane box
{
    background-size: 100% 100%;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    margin: 10px 14px 10px 10px;
    min-height: 48px;
    min-width: 48px;
}

.xp-start-userpane label
{
    font-size: 16pt;
}

.xp-start-vuserpane label
{
    font-size: 0pt;
}
