[Unit]
Description=Windows WinTC Setup
Before=display-manager.service
Wants=display-manager.service

[Service]
# FIXME: Check FreeBSD
ExecStart=/usr/bin/startwintc -i

[Install]
WantedBy=graphical.target
