//
// Insensitive-state colour definitions
//
$insensitive_fg_color: mix($fg_color, $bg_color,   50%);
$insensitive_bg_color: mix($bg_color, $base_color, 60%);
$insensitive_borders_color: $borders_color;
