/**
 * base.scss - Professional Style Base Colour Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$base_color: #FFFFFF;
$text_color: #000000;
$bg_color:   #EBEBE4;
$fg_color:   #000000;

$base_hover_color:  $fg_color;
$drop_target_color: #4E9A06; // FIXME: To be removed
$shadow_color:      #000000;
