/**
 * borders.scss - Professional Style Border Colour Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$borders_color:          #646464;
$selected_borders_color: $borders_color;
$alt_borders_color:      $borders_color;
$borders_edge:           $borders_color;
