/**
 * notebook.scss - Professional Style Notebook Colour Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$notebook_bg_color: #DBDBCE;
$notebook_borders_color: #FFFFFF;
$notebook_selected_bg_color: #F3F3EF;
