/**
 * combobox.scss - WinTC Combobox Theme Part Definitions
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$combobox_styles:                 ();
$combobox_inactive_styles:        ();
$combobox_button_styles:          ();
$combobox_button_hover_styles:    ();
$combobox_button_press_styles:    ();
$combobox_button_inactive_styles: ();
