/**
 * exitwnd.scss - WinTC Exit Window Dialog Theme Part Definitions
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$exitwnd_dlg_styles: ();

$exitwnd_title_box_styles:   ();
$exitwnd_title_label_styles: ();

$exitwnd_options_box_styles:                         ();
$exitwnd_options_button_styles:                      ();
$exitwnd_options_button_inactive_styles:             ();
$exitwnd_options_standby_button_styles:              ();
$exitwnd_options_standby_button_hover_styles:        ();
$exitwnd_options_standby_button_press_styles:        ();
$exitwnd_options_standby_button_inactive_styles:     ();
$exitwnd_options_turn_off_button_styles:             ();
$exitwnd_options_turn_off_button_hover_styles:       ();
$exitwnd_options_turn_off_button_press_styles:       ();
$exitwnd_options_turn_off_button_inactive_styles:    ();
$exitwnd_options_restart_button_styles:              ();
$exitwnd_options_restart_button_hover_styles:        ();
$exitwnd_options_restart_button_press_styles:        ();
$exitwnd_options_restart_button_inactive_styles:     ();
$exitwnd_options_switch_user_button_styles:          ();
$exitwnd_options_switch_user_button_hover_styles:    ();
$exitwnd_options_switch_user_button_press_styles:    ();
$exitwnd_options_switch_user_button_inactive_styles: ();
$exitwnd_options_log_off_button_styles:              ();
$exitwnd_options_log_off_button_hover_styles:        ();
$exitwnd_options_log_off_button_press_styles:        ();
$exitwnd_options_log_off_button_inactive_styles:     ();

$exitwnd_cancel_box_styles:             ();
$exitwnd_cancel_button_styles:          ();
$exitwnd_cancel_button_hover_styles:    ();
$exitwnd_cancel_button_press_styles:    ();
$exitwnd_cancel_button_inactive_styles: ();
