/**
 * explorer-webview.scss - WinTC Explorer Web View Theme Part Definitions
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$explorer_webview_sidebar_styles: ();

$explorer_webview_sidebar_group_styles:        ();
$explorer_webview_sidebar_group_header_styles: ();

$explorer_webview_sidebar_items_styles: ();

$explorer_webview_sidebar_item_styles:          ();
$explorer_webview_sidebar_item_hover_styles:    ();
$explorer_webview_sidebar_item_press_styles:    ();
$explorer_webview_sidebar_item_inactive_styles: ();
