/**
 * frame.scss - WinTC Frame Theme Part Definitions
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

//
// FRAME
//
$frame_label_styles: ();


//
// SEPARATOR
//
$separator_horz_styles: ();
$separator_vert_styles: ();
