/**
 * spinbutton.scss - WinTC Spin Button Theme Part Definitions
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

//
// SPINBUTTON ITSELF
//
$spinbutton_horz_box_styles:   ();
$spinbutton_horz_entry_styles: ();
$spinbutton_vert_box_styles:   ();
$spinbutton_vert_entry_styles: ();


//
// SPINBUTTON UP/DOWN BUTTONS
//
$spinbutton_button_styles:          ();
$spinbutton_button_hover_styles:    ();
$spinbutton_button_press_styles:    ();
$spinbutton_button_inactive_styles: ();
