/**
 * taskband.scss - WinTC Taskband Theme Part Definitions
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$taskband_styles: ();

$taskband_button_styles:                ();
$taskband_button_hover_styles:          ();
$taskband_button_press_styles:          ();
$taskband_button_selected_styles:       ();
$taskband_button_selected_hover_styles: ();
