/**
 * treeview.scss - WinTC Tree-view Theme Part Definitions
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$treeview_header_styles:       ();
$treeview_header_hover_styles: ();
$treeview_header_press_styles: ();
