[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Notification Area
Comment=Windows XP notification area
Icon=start-logo
X-XFCE-Module=xpsystray-plugin
X-XFCE-Internal=false
X-XFCE-API=2.0
