/**
 * main.scss - Luna (Blue) Main SCSS Aggregation Document
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

// Define the 'variant' here (light or dark)
//
$variant: 'light';

// Import color definition constants
//
@import "colors/all";

// Import styling definition constants
//
@import "styling/all";

// Import functions and mixins
//
@import "drawing/all";

// Import main theme styles
//
@import "common/all";

// Import color definition exports (for third-party apps and WMs)
//
@import "colors-public/all";

// Import program-specific overrides
//
@import "override/all";
