/**
 * frame.scss - Theme Base Frame Style Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$separator_thickness: 2px !default;


//
// FRAME
//
$frame_label_styles:
    wintc_define_props_box(
        $frame_label_styles,
        true,
        padding,
        0,
        5,
        0,
        5
    );


//
// SEPARATOR
//
$separator_styles: ();
$separator_horz_styles:
    wintc_define_props_bg(
        $separator_horz_styles,
        true,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/separator_horz.png')
    );
$separator_vert_styles:
    wintc_define_props_bg(
        $separator_vert_styles,
        true,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/separator_vert.png')
    );
