/**
 * notebook.scss - Theme Base Notebook Style Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

//
// NOTEBOOK HEADER
//
$notebook_header_styles:
    wintc_define_props_bg(
        $notebook_header_styles,
        true,
        $bg_color,
        undefined,
        undefined,
        undefined,
        undefined
    );

$notebook_header_bottom_styles:
    wintc_define_props_borders(
        $notebook_header_bottom_styles,
        true,
        solid,
        2,
        2,
        0,
        1,
        undefined,
        url('../Resources/notebook_header_bottom_border.png')
    );
$notebook_header_left_styles:
    wintc_define_props_borders(
        $notebook_header_left_styles,
        true,
        solid,
        1,
        2,
        2,
        0,
        undefined,
        url('../Resources/notebook_header_left_border.png')
    );
$notebook_header_right_styles:
    wintc_define_props_borders(
        $notebook_header_right_styles,
        true,
        solid,
        1,
        0,
        2,
        2,
        undefined,
        url('../Resources/notebook_header_right_border.png')
    );
$notebook_header_top_styles:
    wintc_define_props_borders(
        $notebook_header_top_styles,
        true,
        solid,
        0,
        2,
        2,
        1,
        undefined,
        url('../Resources/notebook_header_top_border.png')
    );


//
// NOTEBOOK TAB
//
$notebook_tab_styles:
    wintc_define_props_bg(
        $notebook_tab_styles,
        true,
        $bg_color,
        undefined,
        undefined,
        undefined,
        undefined
    );
$notebook_tab_styles:
    wintc_define_props_borders(
        $notebook_tab_styles,
        true,
        solid,
        2,
        2,
        2,
        2,
        undefined,
        default
    );
$notebook_tab_styles:
    wintc_define_props_box(
        $notebook_tab_styles,
        true,
        padding,
        undefined,
        5,
        undefined,
        5
    );

$notebook_tab_bottom_styles:
    wintc_define_props_borders(
        $notebook_tab_bottom_styles,
        true,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/notebook_tab_bottom_border.png')
    );
$notebook_tab_bottom_styles:
    wintc_define_props_box(
        $notebook_tab_bottom_styles,
        true,
        margin,
        -2,
        undefined,
        2,
        undefined
    );

$notebook_tab_bottom_selected_styles:
    wintc_define_props_borders(
        $notebook_tab_bottom_selected_styles,
        true,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/notebook_tab_bottom_selected_border.png')
    );
$notebook_tab_bottom_selected_styles:
    wintc_define_props_box(
        $notebook_tab_bottom_selected_styles,
        true,
        margin,
        undefined,
        undefined,
        0,
        undefined
    );
$notebook_tab_bottom_selected_styles:
    wintc_define_props_box(
        $notebook_tab_bottom_selected_styles,
        true,
        padding,
        2,
        undefined,
        undefined,
        undefined
    );

$notebook_tab_left_styles:
    wintc_define_props_borders(
        $notebook_tab_left_styles,
        true,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/notebook_tab_left_border.png')
    );
$notebook_tab_left_styles:
    wintc_define_props_box(
        $notebook_tab_left_styles,
        true,
        margin,
        undefined,
        -2,
        undefined,
        2
    );

$notebook_tab_left_selected_styles:
    wintc_define_props_borders(
        $notebook_tab_left_selected_styles,
        true,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/notebook_tab_left_selected_border.png')
    );
$notebook_tab_left_selected_styles:
    wintc_define_props_box(
        $notebook_tab_left_selected_styles,
        true,
        margin,
        undefined,
        undefined,
        undefined,
        0
    );
$notebook_tab_left_selected_styles:
    wintc_define_props_box(
        $notebook_tab_left_selected_styles,
        true,
        padding,
        undefined,
        undefined,
        undefined,
        2
    );

$notebook_tab_right_styles:
    wintc_define_props_borders(
        $notebook_tab_right_styles,
        true,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/notebook_tab_right_border.png')
    );
$notebook_tab_right_styles:
    wintc_define_props_box(
        $notebook_tab_right_styles,
        true,
        margin,
        undefined,
        2,
        undefined,
        -2
    );

$notebook_tab_right_selected_styles:
    wintc_define_props_borders(
        $notebook_tab_right_selected_styles,
        true,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/notebook_tab_right_selected_border.png')
    );
$notebook_tab_right_selected_styles:
    wintc_define_props_box(
        $notebook_tab_right_selected_styles,
        true,
        margin,
        undefined,
        0,
        undefined,
        undefined
    );
$notebook_tab_right_selected_styles:
    wintc_define_props_box(
        $notebook_tab_right_selected_styles,
        true,
        padding,
        undefined,
        2,
        undefined,
        undefined
    );

$notebook_tab_top_styles:
    wintc_define_props_borders(
        $notebook_tab_top_styles,
        true,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/notebook_tab_top_border.png')
    );
$notebook_tab_top_styles:
    wintc_define_props_box(
        $notebook_tab_top_styles,
        true,
        margin,
        2,
        undefined,
        -2,
        undefined
    );

$notebook_tab_top_selected_styles:
    wintc_define_props_borders(
        $notebook_tab_top_selected_styles,
        true,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/notebook_tab_top_selected_border.png')
    );
$notebook_tab_top_selected_styles:
    wintc_define_props_box(
        $notebook_tab_top_selected_styles,
        true,
        margin,
        0,
        undefined,
        undefined,
        undefined
    );
$notebook_tab_top_selected_styles:
    wintc_define_props_box(
        $notebook_tab_top_selected_styles,
        true,
        padding,
        undefined,
        undefined,
        2,
        undefined
    );


//
// NOTEBOOK ITSELF
//
$notebook_styles:
    wintc_define_props_borders(
        $notebook_styles,
        true,
        solid,
        1,
        2,
        2,
        1,
        undefined,
        url('../Resources/notebook_frame_border.png')
    );
