/**
 * systray.scss - Theme Base Notification Area Style Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$systray_styles:
    wintc_define_props_borders(
        $systray_styles,
        true,
        inset,
        1,
        1,
        1,
        1,
        $borders_color,
        undefined
    );
$systray_styles:
    wintc_define_props_box(
        $systray_styles,
        true,
        margin,
        4,
        2,
        2,
        undefined
    );
$systray_styles:
    wintc_define_props_box(
        $systray_styles,
        true,
        padding,
        undefined,
        7,
        undefined,
        7
    );
