/**
 * taskband.scss - Theme Base Taskband Style Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

// Taskband itself
//
$taskband_horz_margins: 4px !default;

$taskband_styles:
    wintc_define_props_bg(
        $taskband_styles,
        true,
        undefined,
        undefined,
        repeat-x,
        top,
        url('../Resources/taskband_border_top.png')
    );

// Taskband buttons
//
$taskband_button_styles:
    wintc_define_props_box(
        $taskband_button_styles,
        true,
        margin,
        4,
        0,
        4,
        3
    );
$taskband_button_styles:
    wintc_define_props_box(
        $taskband_button_styles,
        true,
        padding,
        1,
        2,
        1,
        2
    );

$taskband_button_press_styles:
    wintc_define_props_box(
        $taskband_button_press_styles,
        true,
        padding,
        2,
        0,
        0,
        4
    );
$taskband_button_selected_styles: $taskband_button_press_styles;

$taskband_button_icon_styles:
    wintc_define_props_box(
        $taskband_button_icon_styles,
        true,
        margin,
        undefined,
        4,
        undefined,
        undefined
    );
