/**
 * _all.scss - WinTC Theme Part Definitions SCSS Aggregation Document
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

@import "button";
@import "start-menu";
@import "taskband";
