/**
 * button.scss - WinTC Button Theme Part Definitions
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$button_styles:                          ();
$button_focused_styles:                  ();
$button_hover_styles:                    ();
$button_press_styles:                    ();
$button_inactive_styles:                 ();
$toggle_button_styles:                   ();
$toggle_button_focused_styles:           ();
$toggle_button_hover_styles:             ();
$toggle_button_selected_styles:          ();
$toggle_button_selected_focused_styles:  ();
$toggle_button_selected_hover_styles:    ();
$toggle_button_press_styles:             ();
$toggle_button_inactive_styles:          ();
$toggle_button_inactive_selected_styles: ();
$toolbar_button_hover_styles:            ();
$toolbar_button_press_styles:            ();
