/**
 * menu.scss - WinTC Menu Theme Part Definitions
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

//
// MENUSTRIP
//
$menustrip_styles:                ();

$menustrip_menuitem_styles:       ();
$menustrip_menuitem_hover_styles: ();

//
// POPUP MENUS
//
$popup_menu_styles: ();

$popup_menu_menuitem_styles:          ();
$popup_menu_menuitem_hover_styles:    ();
$popup_menu_menuitem_inactive_styles: ();

$menu_separator_styles: ();
