/**
 * scheme.scss - WinTC Appearance Scheme Definitions
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$threed_objects_bg: #171717 !default;
$threed_objects_fg: #171717 !default;

$active_title_bar_bg1:         #171717    !default;
$active_title_bar_bg2:         #171717    !default;
$active_title_bar_fg:          #171717    !default;
$active_title_bar_font_family: sans-serif !default;
$active_title_bar_font_size:   17pt       !default;
$active_title_bar_font_style:  normal     !default;
$active_title_bar_font_weight: normal     !default;
$active_title_bar_size:        17         !default;

$active_window_border_bg:   #171717 !default;
$active_window_border_size: 17      !default;

$application_background_bg: #171717 !default;

$caption_buttons_size: 17 !default;

$desktop_bg: #171717 !default;

$icon_font_family: sans-serif !default;
$icon_font_size:   17pt       !default;
$icon_font_style:  normal     !default;
$icon_font_weight: normal     !default;
$icon_size:        17         !default;

$icon_spacing_horz: 17 !default;
$icon_spacing_vert: 17 !default;

$inactive_title_bar_bg1:         #171717    !default;
$inactive_title_bar_bg2:         #171717    !default;
$inactive_title_bar_fg:          #171717    !default;
$inactive_title_bar_font_family: sans-serif !default;
$inactive_title_bar_font_size:   17pt       !default;
$inactive_title_bar_font_style:  normal     !default;
$inactive_title_bar_font_weight: normal     !default;
$inactive_title_bar_size:        17         !default;

$inactive_window_border_bg:   #171717 !default;
$inactive_window_border_size: 17      !default;

$menu_bg:          #171717    !default;
$menu_fg:          #171717    !default;
$menu_font_family: sans-serif !default;
$menu_font_size:   17pt       !default;
$menu_font_style:  normal     !default;
$menu_font_weight: normal     !default;
$menu_size:        17         !default;

$message_box_fg:          #171717    !default;
$message_box_font_family: sans-serif !default;
$message_box_font_size:   17pt       !default;
$message_box_font_style:  normal     !default;
$message_box_font_weight: normal     !default;

$palette_title_font_family: sans-serif !default;
$palette_title_font_size:   17pt       !default;
$palette_title_font_style:  normal     !default;
$palette_title_font_weight: normal     !default;
$palette_title_size:        17         !default;

$scrollbar_size: 17 !default;

$selected_items_bg:          #171717    !default;
$selected_items_fg:          #171717    !default;
$selected_items_font_family: sans-serif !default;
$selected_items_font_size:   17pt       !default;
$selected_items_font_style:  normal     !default;
$selected_items_font_weight: normal     !default;
$selected_items_size:        17         !default;

$tooltip_bg:          #171717    !default;
$tooltip_fg:          #171717    !default;
$tooltip_font_family: sans-serif !default;
$tooltip_font_size:   17pt       !default;
$tooltip_font_style:  normal     !default;
$tooltip_font_weight: normal     !default;

$window_bg: #171717 !default;
$window_fg: #171717 !default;
