/**
 * treeview.scss - WinTC Switch Theme Part Definitions
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

//
// SWITCH ITSELF
//
$switch_styles:                   ();
$switch_selected_styles:          ();
$switch_inactive_styles:          ();
$switch_inactive_selected_styles: ();


//
// SWITCH SLIDER
//
$switch_slider_styles:          ();
$switch_slider_hover_styles:    ();
$switch_slider_press_styles:    ();
$switch_slider_inactive_styles: ();
