/**
 * _all.scss - Professional Style Colour Constant SCSS Aggregation Document
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

@import "base";
@import "selected-text";
@import "borders";
@import "links";
@import "misc";
@import "headerbar";
@import "menu";
@import "popover";
@import "scrollbar";
@import "statuses";
@import "osd";
@import "sidebar";
@import "tooltip";
@import "insensitive";
@import "backdrop";
@import "suggested";
@import "progressbar";
@import "checkradio";
@import "frame";
@import "treeview";
@import "notebook";
