/**
 * links.scss - Professional Style Link Colour Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$link_color:         #000080;
$link_active_color:  $link_color;
$link_visited_color: $link_color;
