/**
 * csd.scss - Zune Style GTK 3 CSD Style Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 *            unexp <https://github.com/unexp>
 */

$csd_window_hack_border_radius: 5px;

$caption_button_spacing: 2px;
$close_button_spacing: 0px;


//
// CSD WINDOW ITSELF
//
$csd_window_styles:
    wintc_define_props_borders(
        $csd_window_styles,
        false,
        solid,
        0,
        5,
        5,
        5,
        undefined,
        default
    );

$csd_window_backdrop_styles:
    wintc_define_props_borders(
        $csd_window_backdrop_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/csd_window_backdrop_border.png')
    );


//
// HEADERBAR
//
$headerbar_styles:
    wintc_define_props_bg(
        $headerbar_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        linear-gradient(180deg, rgba(131,131,131,1) 0%, rgba(131,131,131,1) 3%, rgba(111,111,111,1) 4%, rgba(84,84,84,1) 47%, rgba(61,61,61,1) 48%, rgba(41,41,41,1) 100%)
    );
$headerbar_styles:
    wintc_define_props_borders(
        $headerbar_styles,
        false,
        solid,
        1,
        9,
        1,
        9,
        undefined,
        default
    );
$headerbar_styles:
    wintc_define_props_box(
        $headerbar_styles,
        false,
        padding,
        1,
        0,
        0,
        0
    );

$headerbar_backdrop_styles:
    wintc_define_props_bg(
        $headerbar_backdrop_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        linear-gradient(180deg, rgba(84,84,84,1) 0%, rgba(84,84,84,1) 3%, rgba(39,39,39,1) 4%, rgba(46,46,46,1) 35%, rgba(64,64,64,1) 53%, rgba(76,76,76,1) 100%)
    );
$headerbar_backdrop_styles:
    wintc_define_props_borders(
        $headerbar_backdrop_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/headerbar_backdrop_border.png')
    );

$headerbar_maximized_styles:
    wintc_define_props_borders(
        $headerbar_maximized_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/headerbar_maximized_border.png')
    );

$headerbar_maximized_backdrop_styles:
    wintc_define_props_borders(
        $headerbar_maximized_backdrop_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/headerbar_maximized_backdrop_border.png')
    );


//
// CAPTION BUTTONS
//
$caption_button_styles:
    wintc_define_props_bg(
        $caption_button_styles,
        false,
        undefined,
        100% 100%,
        undefined,
        undefined,
        url('../Resources/caption_button.png'),
        linear-gradient(180deg, rgba(103,103,103,1) 0%, rgba(90,90,90,1) 40%, rgba(63,63,63,1) 50%, rgba(79,79,79,1) 100%)
    );
$caption_button_styles:
    wintc_define_props_borders(
        $caption_button_styles,
        false,
        solid,
        3,
        3,
        3,
        3,
        undefined,
        url('../Resources/caption_button_border.png')
    );
$caption_button_styles:
    wintc_define_props_fg(
        $caption_button_styles,
        false,
        #FFF,
        undefined
    );

$caption_button_hover_styles:
    wintc_define_props_bg(
        $caption_button_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_hover.png'),
        linear-gradient(180deg, rgba(112,112,112,1) 0%, rgba(112,112,112,1) 5%, rgba(101,101,101,1) 48%, rgba(90,90,90,1) 50%, rgba(112,112,112,1) 75%)
    );
$caption_button_hover_styles:
    wintc_define_props_borders(
        $caption_button_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_hover_border.png')
    );

$caption_button_focused_styles: map-clone($caption_button_hover_styles);

$caption_button_press_styles:
    wintc_define_props_bg(
        $caption_button_press_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_press.png'),
        linear-gradient(180deg, rgba(48,48,48,1) 0%, rgba(48,48,48,1) 5%, rgba(44,44,44,1) 45%, rgba(32,32,32,1) 50%, rgba(49,49,49,1) 100%)
    );
$caption_button_press_styles:
    wintc_define_props_borders(
        $caption_button_press_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_press_border.png')
    );
$caption_button_press_styles:
    wintc_define_props_fg(
        $caption_button_press_styles,
        false,
        #BABBBC,
        undefined
    );

$caption_button_selected_styles: map-clone($caption_button_press_styles);

$caption_button_inactive_styles:
    wintc_define_props_bg(
        $caption_button_inactive_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_inactive.png')
    );
$caption_button_inactive_styles:
    wintc_define_props_borders(
        $caption_button_inactive_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_inactive_border.png')
    );
$caption_button_inactive_styles:
    wintc_define_props_fg(
        $caption_button_inactive_styles,
        false,
        #A9AAAB,
        undefined
    );

$caption_button_backdrop_styles:
    wintc_define_props_bg(
        $caption_button_backdrop_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_backdrop.png')
    );
$caption_button_backdrop_styles:
    wintc_define_props_borders(
        $caption_button_backdrop_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_backdrop_border.png')
    );

$caption_button_backdrop_hover_styles:
    wintc_define_props_bg(
        $caption_button_backdrop_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_backdrop_hover.png')
    );
$caption_button_backdrop_hover_styles:
    wintc_define_props_borders(
        $caption_button_backdrop_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_backdrop_hover_border.png')
    );

$caption_button_backdrop_press_styles:
    wintc_define_props_bg(
        $caption_button_backdrop_press_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_backdrop_press.png')
    );
$caption_button_backdrop_press_styles:
    wintc_define_props_borders(
        $caption_button_backdrop_press_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_backdrop_press_border.png')
    );
$caption_button_backdrop_press_styles:
    wintc_define_props_fg(
        $caption_button_backdrop_press_styles,
        false,
        #BABBBC,
        undefined
    );

$caption_button_backdrop_selected_styles: map-clone($caption_button_backdrop_press_styles);

$caption_button_backdrop_inactive_styles:
    wintc_define_props_bg(
        $caption_button_backdrop_inactive_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_backdrop_inactive.png')
    );
$caption_button_backdrop_inactive_styles:
    wintc_define_props_borders(
        $caption_button_backdrop_inactive_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/caption_button_backdrop_inactive_border.png')
    );
$caption_button_backdrop_inactive_styles:
    wintc_define_props_fg(
        $caption_button_backdrop_inactive_styles,
        false,
        #A9AAAB,
        undefined
    );

$close_button_styles:
    wintc_define_props_bg(
        $close_button_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button.png')
    );
$close_button_styles:
    wintc_define_props_borders(
        $close_button_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_border.png')
    );

$close_button_hover_styles:
    wintc_define_props_bg(
        $close_button_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_hover.png')
    );
$close_button_hover_styles:
    wintc_define_props_borders(
        $close_button_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_hover_border.png')
    );

$close_button_focused_styles: map-clone($close_button_hover_styles);

$close_button_press_styles:
    wintc_define_props_bg(
        $close_button_press_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_press.png')
    );
$close_button_press_styles:
    wintc_define_props_borders(
        $close_button_press_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_press_border.png')
    );
$close_button_press_styles:
    wintc_define_props_fg(
        $close_button_press_styles,
        false,
        #DF9A87,
        undefined
    );

$close_button_inactive_styles:
    wintc_define_props_bg(
        $close_button_inactive_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_inactive.png')
    );
$close_button_inactive_styles:
    wintc_define_props_borders(
        $close_button_inactive_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_inactive_border.png')
    );
$close_button_inactive_styles:
    wintc_define_props_fg(
        $close_button_inactive_styles,
        false,
        #A9AAAB,
        undefined
    );

$close_button_backdrop_styles:
    wintc_define_props_bg(
        $close_button_backdrop_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_backdrop.png')
    );
$close_button_backdrop_styles:
    wintc_define_props_borders(
        $close_button_backdrop_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_backdrop_border.png')
    );

$close_button_backdrop_hover_styles:
    wintc_define_props_bg(
        $close_button_backdrop_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_backdrop_hover.png')
    );
$close_button_backdrop_hover_styles:
    wintc_define_props_borders(
        $close_button_backdrop_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_backdrop_hover_border.png')
    );

$close_button_backdrop_focused_styles: map-clone($close_button_backdrop_hover_styles);

$close_button_backdrop_press_styles:
    wintc_define_props_bg(
        $close_button_backdrop_press_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_backdrop_press.png')
    );
$close_button_backdrop_press_styles:
    wintc_define_props_borders(
        $close_button_backdrop_press_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_backdrop_press_border.png')
    );
$close_button_backdrop_press_styles:
    wintc_define_props_fg(
        $close_button_backdrop_press_styles,
        false,
        #CBADBA,
        undefined
    );

$close_button_backdrop_inactive_styles:
    wintc_define_props_bg(
        $close_button_backdrop_inactive_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_backdrop_inactive.png')
    );
$close_button_backdrop_inactive_styles:
    wintc_define_props_borders(
        $close_button_backdrop_inactive_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/close_button_backdrop_inactive_border.png')
    );
$close_button_backdrop_inactive_styles:
    wintc_define_props_fg(
        $close_button_backdrop_inactive_styles,
        false,
        #A9AAAB,
        undefined
    );
