/**
 * menu.scss - Zune Style Menu Style Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 *            unexp <https://github.com/unexp>
 */

$menu_separator_thickness: $separator_thickness;

//
// MENUSTRIP
//
$menustrip_styles:
    wintc_define_props_borders(
        $menustrip_styles,
        false,
        solid,
        0,
        0,
        2,
        2,
        undefined,
        url('../Resources/toolbar_border.png')
    );

//
// POPUP MENUS
//
$popup_menu_styles:
    wintc_define_props_borders(
        $popup_menu_styles,
        false,
        solid,
        1,
        1,
        1,
        1,
        $menu_borders_color,
        undefined
    );
