[Unit]
Description=Windows WinTC Setup (Graphical Phase)
Before=display-manager.service

[Service]
# FIXME: Needs to be configured by CMake...
ExecStart=startx /usr/share/wintc/wsetupx/xinitrc

[Install]
WantedBy=multi-user.target
