[Unit]
Description=Windows WinTC Setup (Graphical Phase)
Before=display-manager.service

[Service]
# FIXME: Check FreeBSD
ExecStart=/usr/bin/startwsetupx

[Install]
WantedBy=multi-user.target
