.wintc-msgbox button
{
    margin: 0px 2px;
    min-height: 15px;
    min-width:  51px;
}

.wintc-msgbox .dialog-vbox
{
    margin: 10px;
}

.wintc-msgbox-body
{
    margin-bottom: 20px;
    margin-left:   18px;
}

.wintc-msgbox-none .wintc-msgbox-body
{
    margin-left: 0px;
}
