[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Start button
Comment=Windows XP Start menu
Icon=start-logo
X-XFCE-Module=wintc-startmenu-plugin
X-XFCE-Internal=false
X-XFCE-API=2.0
