[Desktop Entry]
Name=Windows Explorer
Comment=Displays the files and folders on your computer.
Exec=explorer %F
Icon=explorer
Terminal=false
StartupNotify=false
Type=Application
Categories=Utility;GTK;
