/**
 * scheme.scss - Professional Style Appearance Scheme Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$threed_objects_bg: #EBEBE4;
$threed_objects_fg: #000000;

$active_title_bar_bg1: #5298F9;
$active_title_bar_bg2: #3573D6;
$active_title_bar_fg: #FFFFFF;
$active_title_bar_font_family: "Tahoma";
$active_title_bar_font_size: 8pt;
$active_title_bar_font_style: normal;
$active_title_bar_font_weight: bold;
$active_title_bar_size: 20;

$active_window_border_bg: #D4D0C8;
$active_window_border_size: 1;

$application_background_bg: #808080;

$caption_buttons_size: 20;

$desktop_bg: #5297F7;

$icon_font_family: "Tahoma";
$icon_font_size: 8pt;
$icon_font_style: normal;
$icon_font_weight: normal;
$icon_size: 32;

$icon_spacing_horz: 43;
$icon_spacing_vert: 43;

$inactive_title_bar_bg1: #2C60B2;
$inactive_title_bar_bg2: #2C60B2;
$inactive_title_bar_fg: #A6C5F7;
$inactive_title_bar_font_family: "Tahoma";
$inactive_title_bar_font_size: 8pt;
$inactive_title_bar_font_style: normal;
$inactive_title_bar_font_weight: bold;
$inactive_title_bar_size: 20;

$inactive_window_border_bg: #D4D0C8;
$inactive_window_border_size: 1;

$menu_bg: #FFFFFF;
$menu_fg: #000000;
$menu_font_family: "Tahoma";
$menu_font_size: 8pt;
$menu_font_style: normal;
$menu_font_weight: normal;
$menu_size: 19;

$message_box_fg: #000000;
$message_box_font_family: "Tahoma";
$message_box_font_size: 8pt;
$message_box_font_style: normal;
$message_box_font_weight: normal;

$palette_title_font_family: "Tahoma";
$palette_title_font_size: 8pt;
$palette_title_font_style: normal;
$palette_title_font_weight: bold;
$palette_title_size: 19;

$scrollbar_size: 17;

$selected_items_bg: #5296F7;
$selected_items_fg: #FFFFFF;
$selected_items_font_family: "Tahoma";
$selected_items_font_size: 8pt;
$selected_items_font_style: normal;
$selected_items_font_weight: normal;
$selected_items_size: 19;

$tooltip_bg: #FFFFE1;
$tooltip_fg: #000000;
$tooltip_font_family: "Tahoma";
$tooltip_font_size: 8pt;
$tooltip_font_style: normal;
$tooltip_font_weight: normal;

$window_bg: #FFFFFF;
$window_fg: #000000;
