/**
 * frame.scss - Luna (Blue) Frame Styles
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

frame > border,
.frame
{
    border:        1px solid $borders_color;
    border-radius: 0;
    box-shadow:    none;
    margin:        0;
    padding:       0;

    &.flat
    {
        border-image: url("../Resources/frame_border.png") 3 stretch;
        border-style: solid;
        border-width: 3px;
    }
}

frame
{
    > label
    {
        color:   $frame_label_color;
        padding: 0px 5px;
    }
}

actionbar > revealer > box
{
    border-top: 1px solid $borders_color;
    padding:    6px;

    &:backdrop
    {
        border-color: $backdrop_borders_color;
    }
}

scrolledwindow
{
    // Avoid double borders when viewport inside scrolled window
    viewport.frame
    { 
        border-style: none;
    }
    
    // This is used when content is touch-dragged past boundaries.
    //
    // Draws a box on top of the content, the size changes programmatically.
    //
    overshoot
    {
        &.top
        {
            @include overshoot(top);

            &:backdrop
            {
                @include overshoot(top, backdrop);
            }
        }
        
        &.bottom
        {
            @include overshoot(bottom);

            &:backdrop
            {
                @include overshoot(bottom, backdrop);
            }
        }
        
        &.left
        {
            @include overshoot(left);

            &:backdrop
            {
                @include overshoot(left, backdrop);
            }
        }
        
        &.right
        {
            @include overshoot(right);

            &:backdrop
            {
                @include overshoot(right, backdrop);
            }
        }
    }
    
    // The small square between two scrollbars
    //
    junction
    {
        // The border image is used to add the missing dot between the borders
        //
        background-color: $scrollbar_bg_color;
        border-color:     transparent;
        border-image:     linear-gradient(to bottom, $borders_color 1px, transparent 1px) 0 0 0 1 / 0 1px stretch;
        
        &:dir(rtl)
        {
            border-image-slice: 0 1 0 0;
        }
        
        &:backdrop
        {
            background-color:    $backdrop_scrollbar_bg_color;
            border-image-source: linear-gradient(to bottom, $backdrop_borders_color 1px, transparent 1px);
            transition:          $backdrop_transition;
        }
    }
}

// vbox and hbox separators
//
separator
{
    background: transparentize(black, 0.9);
    min-height: 1px;
    min-width:  1px;
}
