/**
 * menu.scss - Luna (Blue) Menu Styles
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

// Define the menu fade in anim
//
@keyframes menu-fadein
{
    from { opacity: 0.0; }
    to   { opacity: 1.0; }
}

@keyframes empty {}

// Menu strip styles
//
menubar,
.menubar
{
    padding:       0px;
    -GtkWidget-window-dragging: true;

    > menuitem
    {
        padding: 2px 6px 3px;

        // Remove padding and rounding from menubar submenus
        //
        menu
        {
            // Specificity bump
            //
            &:dir(rtl),
            &:dir(ltr)
            {
                //border-radius: 0;
                //padding: 0;
            }
        }

        // Seems like it :hover even with keyboard focus
        //
        &:hover
        {
            background-color: $selected_bg_color;
            color:            $selected_fg_color;
        }
    }

    // Remove padding and rounding from menubar submenu decoration
    //
    .csd.popup decoration
    {
        border-radius: 0;
    }
}

// Needed to make the border-radius of menus work
// otherwise the background bleeds out of the menu edges
//
.background.popup
{
    background-color: transparent;
}

// Menu list styles
//
menu,
.menu,
.context-menu
{
    background-color:   $menu_color;
    border:             1px solid $menu_borders_color;

    menuitem
    {
        margin:     2px 4px 2px;
        min-height: 16px;
        padding:    2px 6px;

        &:hover
        {
            background-color: $selected_bg_color;
            color:            $selected_fg_color;
        }

        &:disabled
        {
            color: $insensitive_fg_color;
        }

        &:first-child
        {
            margin-top: 4px;
        }

        &:last-child
        {
            margin-bottom: 4px;
        }

        // Submenu indicators
        //
        arrow
        {
            min-height: 16px;
            min-width: 16px;

            &:dir(ltr)
            {
                margin-left: 10px;
                -gtk-icon-source: -gtk-icontheme('pan-end-symbolic');
            }

            &:dir(rtl)
            {
                -gtk-icon-source:-gtk-icontheme('pan-end-symbolic-rtl');
                margin-right: 10px;
            }
        }

        // Avoids labels color being overridden, see
        // https://bugzilla.gnome.org/show_bug.cgi?id=767058
        //
        label
        {
            &:dir(rtl),
            &:dir(ltr)
            {
                color: inherit; 
            }
        }
    }

    // Overflow arrows
    //
    > arrow
    {
        @include button(undecorated);

        background-color: $menu_color;
        border-radius:    0;
        min-height:       16px;
        min-width:        16px;
        padding:          4px;

        &.top
        {
            border-bottom:           1px solid mix($fg_color, $base_color, 10%);
            border-top-right-radius: $menu_radius;
            border-top-left-radius:  $menu_radius;
            margin-top:              -4px;
            -gtk-icon-source: -gtk-icontheme('pan-up-symbolic');
        }

        &.bottom
        {
            border-bottom-left-radius:  $menu_radius;
            border-bottom-right-radius: $menu_radius;
            border-top:                 1px solid mix($fg_color, $base_color, 10%);
            margin-bottom:              -12px;
            margin-top:                 8px;
            -gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
        }

        &:hover
        {
            background-color: mix($fg_color, $base_color, 10%);
        }

        &:disabled
        {
            background-color: transparent;
            border-color:     transparent;
            color:            transparent;
        }
    }

    // Separators
    //
    > separator
    {
        background-color: $menu_borders_color;
        margin:           2px 4px;
        min-height:       1px;
    }
}

menuitem
{
    accelerator
    {
        color: gtkalpha(currentColor, 0.55);
    }

    check,
    radio
    {
        min-height: 16px;
        min-width:  16px;

        &:dir(ltr) { margin-right: 7px; }
        &:dir(rtl) { margin-left: 7px;  }
    }

    &:disabled
    {
        -gtk-icon-effect: dim;
    }
}

// Animation stuffs (fade-in, like on XP)
//
// For now we only have animation on context menus and top level menus, the reason
// being is that for some reason sub-menus only seemed to animate once (subsequent
// popups were not animated)
//
// I couldn't resolve this inconsistency so have chosen to instead drop the sub-menu
// anims for the time being
//
.context-menu
{
    animation-duration: 300ms;
    animation-name:     menu-fadein;
}

menubar,
.menubar
{
    & > menuitem
    {
        & > * > menu,
        & > * > .menu
        {
            animation-name: empty;
        }
        
        &:hover > * > menu,
        &:hover > * > .menu
        {
            animation-duration: 300ms;
            animation-name:     menu-fadein;
        }
    }
}
