/**
 * tooltip.scss - Luna (Blue) Tooltip Styles
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

tooltip
{
    border: 1px solid #000;
    color:  #000;

    &.background
    {
        background-color: #FFFFE1;
    }
}
