/**
 * button.scss - Button Widget Luna (Blue) Styles
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

button
{
    background-image: url("../Resources/button_body.png");
    background-size: 100% 100%;
    border-style: solid;
    border-width: 3;
    border-image: url("../Resources/button.png") 3 3 3 3 stretch;
    
    
    &:focus
    {
        border-image: url("../Resources/button_active.png") 3 3 3 3 stretch;
    }
    
    &:hover
    {
        border-image: url("../Resources/button_hover.png") 3 3 3 3 stretch;
    }
    
    &:checked,
    &:active
    {
        background-image: url("../Resources/button_press_body.png");
        border-image: url("../Resources/button_press.png") 3 3 3 3 stretch;
    }
    
    &:disabled
    {
        background: #F5F4EA;
        border-image: url("../Resources/button_inactive.png") 3 3 3 3 stretch;
        color: #A1A192;
    }
}