/**
 * checkbox.scss - Check Box Widget Luna (Blue) Styles
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

check
{
    background-image: url("../Resources/checkbox_unchecked.png");
    margin-right: 6px;
    min-height: 13px;
    min-width: 13px;
    
    
    /** Button states **/
    &:active
    {
        background-image: url("../Resources/checkbox_unchecked_press.png");
    }
    
    &:disabled
    {
        background-image: url("../Resources/checkbox_unchecked_inactive.png");
    }
    
    &:hover
    {
        background-image: url("../Resources/checkbox_unchecked_hover.png");
    }
    
    /** Check states **/
    &:checked
    {
        -gtk-icon-source: url("../Resources/checkbox_check_glyph.png");
    }
    
    &:checked:active
    {
        -gtk-icon-source: url("../Resources/checkbox_check_glyph_press.png");
    }
    
    &:checked:disabled
    {
        -gtk-icon-source: url("../Resources/checkbox_check_glyph_inactive.png");
    }
    
    &:checked:hover
    {
        -gtk-icon-source: url("../Resources/checkbox_check_glyph_hover.png");
    }
    
    &:indeterminate
    {
        -gtk-icon-source: url("../Resources/checkbox_indecisive_glyph.png");
    }
    
    &:indeterminate:active
    {
        -gtk-icon-source: url("../Resources/checkbox_indecisive_glyph_press.png");
    }
    
    &:indeterminate:disabled
    {
        -gtk-icon-source: url("../Resources/checkbox_indecisive_inactive.png");
    }
    
    &:indeterminate:hover
    {
        -gtk-icon-source: url("../Resources/checkbox_indecisive_hover.png");
    }
}