/**
 * combobox.scss - Combobox Widget Luna (Blue) Styles
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

combobox
{
    background-color: #FFF;
    border: 1px solid #7F9DB9;
    
    
    button
    {
        background-image: url("../Resources/combobox_button.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;
        border-width: 0px;
        margin: 1px;
        min-height: 18px;
        min-width: 15px;
        padding-right: 18px;
        
        
        &:hover
        {
            background-image: url("../Resources/combobox_button_hover.png");
        }
        
        &:active
        {
            background-image: url("../Resources/combobox_button_press.png");
        }
        
        &:disabled
        {
            background-image: url("../Resources/combobox_button_inactive.png");
        }
    }
    
    entry
    {
        border-width: 0px;
        padding-top: 2px;
        
        
        & + button
        {
            padding-right: 0px;
        }
    }
}