/**
 * entry.scss - Text Entry Widget Luna (Blue) Styles
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

entry
{
    background-color: #FFF;
    border: 1px solid #7F9DB9;
    caret-color: #000;
    color: #000;
    padding: 1px 3px 2px;
    
    
    selection
    {
        background-color: #316ac5;
        color: #fff;
    }
}