/**
 * menubar.scss - Menu Bar Widget Luna (Blue) Styles
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

menubar > menuitem
{
    color: #000;
    padding: 4px 6px;
    
    
    &:hover
    {
        background-color: #316AC5;
        color: #FFF;
    }
}