/**
 * menu.scss - Menu Widget Luna (Blue) Styles
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

menu
{
    background-color: #FFF;
    border: 1px solid #ACA899;
    box-shadow: 10px 10px 3px -5px rgba(0,0,0,0.33);
    
    
    &.context-menu
    {
        font: initial;
    }
    
    & > menuitem
    {
        color: #000;
        height: 16px;
        margin: 2px 4px 2px;
        padding: 2px 6px;
    
    
        &:disabled
        {
            color: #ACA899;
        }
    
        &:first-child
        {
            margin-top: 4px;
        }
    
        &:hover
        {
            background-color: #316AC5;
            color: #FFF;
        }
    
        &:last-child
        {
            margin-bottom: 4px;
        }
    }
    
    & > separator
    {
        background-color: #ACA889;
        margin: 2px 4px;
        min-height: 1px;
    }
}