/**
 * notebook.scss - Notebook Widget Luna (Blue) Styles
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

notebook
{
    background-color: #FCFCFE;
    
    
    &.frame
    {
        border-image: url("../Resources/tab-edge-box.png") 2 4 4 2 stretch;
        border-style: solid;
        border-width: 2 4 4 2;
    }
    
    & > header
    {
        background-color: #ECE9D8;
        border-bottom: 1px solid #919B9C;
        border-right: 4px solid #ECE9D8;
        margin: -2px -4px 0px -2px;
        
        
        & > tabs > tab
        {
            background-image: url("../Resources/tab-body.png");
            background-size: 100% 100%;
            border-image: url("../Resources/tab.png") 5 3 0 3 stretch;
            border-style: solid;
            border-width: 5 3 0 3;
            padding: 0px 5px;
            
            
            &:hover:not(:checked)
            {
                background-image: url("../Resources/tab-hover-body.png");
                border-image: url("../Resources/tab-hover.png") 5 3 0 3 stretch;
            }
            
            &:checked
            {
                background: #FCFCFE;
                border-image: url("../Resources/tab-active.png") 3 3 0 3 stretch;
                border-top-width: 3px;
                margin-bottom: -1px;
            }
        }
    }
}