/**
 * textview.scss - Text View Widget Luna (Blue) Styles
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

textview
{
    background-color: #FFF;
    caret-color: #000;
    
    
    text
    {
        border-top: 1px solid #000;
        color: #000;
        
        
        selection
        {
            background-color: #316ac5;
            color: #fff;
        }
    }
}