//
// Constans defined for widget structure
//

$ease-out-quad:       cubic-bezier(0.25, 0.46, 0.45, 0.94);
$asset_suffix:        if($variant == 'dark', '-dark', '');
$backdrop_transition: 200ms ease-out;
$button_transition:   all 200ms $ease-out-quad;
$button_radius:       5px;
$menu_radius:         5px;
$window_radius:       $button_radius + 3;
$popover_radius:      $button_radius + 4;
