/**
 * borders.scss - Embedded Border Colour Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$borders_color:             rgb(150, 150, 150);
$insensitive_borders_color: $borders_color;
