/**
 * csd.scss - Professional Style GTK 3 CSD Style Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$caption_button_spacing: 2px;
$close_button_spacing: 0px;


//
// CSD WINDOW ITSELF
//
$csd_window_backdrop_styles:
    wintc_define_props_borders(
        $csd_window_backdrop_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/csd_window_backdrop_border.png')
    );


//
// HEADERBAR
//
$headerbar_styles:
    wintc_define_props_bg(
        $headerbar_styles,
        false,
        #5297F9,
        auto calc(100% + 4px),
        no-repeat,
        95% -2px,
        url('../Resources/headerbar.svg'),
        linear-gradient(90deg, rgba(81,152,249,1) 95%, rgba(50,116,215,1) 95%, rgba(50,116,215,1) 100%)
    );
$headerbar_styles:
    wintc_define_props_borders(
        $headerbar_styles,
        false,
        solid,
        2,
        6,
        2,
        6,
        undefined,
        default
    );
$headerbar_styles:
    wintc_define_props_box(
        $headerbar_styles,
        false,
        padding,
        2,
        2,
        2,
        2
    );

$headerbar_backdrop_styles:
    wintc_define_props_bg(
        $headerbar_backdrop_styles,
        false,
        #2C60B2,
        undefined,
        undefined,
        undefined,
        none
    );
$headerbar_backdrop_styles:
    wintc_define_props_borders(
        $headerbar_backdrop_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/headerbar_backdrop_border.png')
    );


//
// CAPTION BUTTONS
//
$caption_button_styles:
    wintc_define_props_bg(
        $caption_button_styles,
        false,
        #3573D6,
        undefined,
        undefined,
        undefined,
        none
    );
$caption_button_styles:
    wintc_define_props_borders(
        $caption_button_styles,
        false,
        solid,
        1,
        1,
        1,
        1,
        #86ABE6,
        none
    );
$caption_button_styles:
    wintc_define_props_fg(
        $caption_button_styles,
        false,
        #CCDCF5,
        undefined
    );

$caption_button_hover_styles:
    wintc_define_props_bg(
        $caption_button_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        none
    );
$caption_button_hover_styles:
    wintc_define_props_borders(
        $caption_button_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        #CCDCF5,
        undefined
    );
$caption_button_hover_styles:
    wintc_define_props_fg(
        $caption_button_hover_styles,
        false,
        #CCDCF5,
        undefined
    );

$caption_button_focused_styles: map-clone($caption_button_hover_styles);

$caption_button_press_styles:
    wintc_define_props_bg(
        $caption_button_press_styles,
        false,
        #1361B4,
        undefined,
        undefined,
        undefined,
        none
    );
$caption_button_press_styles:
    wintc_define_props_borders(
        $caption_button_press_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        #0D1D36,
        undefined
    );
$caption_button_press_styles:
    wintc_define_props_fg(
        $caption_button_press_styles,
        false,
        #FFFFFF,
        undefined
    );

$caption_button_inactive_styles:
    wintc_define_props_bg(
        $caption_button_inactive_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        none
    );
$caption_button_inactive_styles:
    wintc_define_props_borders(
        $caption_button_inactive_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        #729DE2,
        undefined
    );
$caption_button_inactive_styles:
    wintc_define_props_fg(
        $caption_button_inactive_styles,
        false,
        #86ABE6,
        undefined
    );
