/**
 * start-menu.scss - Professional Style Start Button and Menu Style Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$start_flag_size: 21px;

$start_button_background:   linear-gradient(180deg, rgba(240,242,236,1) 0%, rgba(222,224,218,1) 100%);
$start_button_border:       2px solid #000000;
$start_button_border_image: url("../Resources/gtk-3.0/start_button_border.png") 2 2 2 2 stretch;

$start_button_hover_background:   linear-gradient(180deg, rgba(177,206,239,1) 0%, rgba(155,188,229,1) 100%);
$start_button_hover_border:       2px solid #000000;
$start_button_hover_border_image: url("../Resources/gtk-3.0/start_button_hover_border.png") 2 2 2 2 stretch;

$start_button_press_background:   linear-gradient(180deg, rgba(143,173,211,1) 0%, rgba(157,185,217,1) 90%, rgba(163,190,220,1) 100%);
$start_button_press_border:       2px solid #000000;
$start_button_press_border_image: url("../Resources/gtk-3.0/start_button_press_border.png") 2 2 2 2 stretch;

$start_button_font: normal bold 8pt sans-serif;
$start_button_text_shadow: none;
