/**
 * taskband.scss - Professional Style Taskband Style Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

// Taskband itself
//
$taskband_styles:
    wintc_define_props_bg(
        $taskband_styles,
        false,
        $bg_color,
        undefined,
        undefined,
        undefined,
        undefined
    );
/**
FIXME: Figure out borders on the panel one day

$taskband_styles:
    wintc_define_props_borders(
        $taskband_styles,
        false,
        solid,
        3,
        0,
        1,
        0,
        undefined,
        url('../Resources/gtk-3.0/taskband_horz_border.png')
    );
**/
$taskband_styles:
    wintc_define_props_fg(
        $taskband_styles,
        false,
        $fg_color,
        undefined
    );

// Taskband buttons
//
$taskband_button_styles:
    wintc_define_props_bg(
        $taskband_button_styles,
        false,
        $bg_color,
        undefined,
        undefined,
        undefined,
        none // Necessary to override standard button gradient
    );
$taskband_button_styles:
    wintc_define_props_borders(
        $taskband_button_styles,
        false,
        solid,
        1,
        1,
        1,
        1,
        $bg_color,
        undefined
    );

$taskband_button_hover_styles:
    wintc_define_props_bg(
        $taskband_button_hover_styles,
        false,
        #D9E8FA,
        undefined,
        undefined,
        undefined,
        undefined
    );
$taskband_button_hover_styles:
    wintc_define_props_borders(
        $taskband_button_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        #BBC3D7,
        undefined
    );

$taskband_button_press_styles:
    wintc_define_props_bg(
        $taskband_button_press_styles,
        false,
        #2469BF,
        undefined,
        undefined,
        undefined,
        undefined
    );
$taskband_button_press_styles:
    wintc_define_props_borders(
        $taskband_button_press_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        #2160AF,
        undefined
    );

$taskband_button_selected_styles:
    wintc_define_props_bg(
        $taskband_button_selected_styles,
        false,
        #AACFFE,
        undefined,
        undefined,
        undefined,
        undefined
    );
$taskband_button_selected_styles:
    wintc_define_props_borders(
        $taskband_button_selected_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        #92AED4,
        undefined
    );

$taskband_button_selected_hover_styles:
    wintc_define_props_bg(
        $taskband_button_selected_hover_styles,
        false,
        #2469BF,
        undefined,
        undefined,
        undefined,
        undefined
    );
$taskband_button_selected_hover_styles:
    wintc_define_props_borders(
        $taskband_button_selected_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        #2160AF,
        undefined
    );
