/**
 * button.scss - Professional Style Button Style Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$button_styles:
    wintc_define_props_bg(
        $button_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        linear-gradient(180deg, rgba(240,242,236,1) 0%, rgba(222,224,218,1) 100%)
    );
$button_styles:
    wintc_define_props_borders(
        $button_styles,
        false,
        solid,
        4,
        4,
        4,
        4,
        undefined,
        url('../Resources/gtk-3.0/button_border.png')
    );

$button_focused_styles:
    wintc_define_props_bg(
        $button_focused_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        linear-gradient(180deg, rgba(237,237,233,1) 0%, rgba(228,231,225,1) 100%)
    );
$button_focused_styles:
    wintc_define_props_borders(
        $button_focused_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/gtk-3.0/button_active_border.png')
    );

$button_hover_styles:
    wintc_define_props_bg(
        $button_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        linear-gradient(180deg, rgba(177,206,239,1) 0%, rgba(155,188,229,1) 100%)
    );
$button_hover_styles:
    wintc_define_props_borders(
        $button_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/gtk-3.0/button_hover_border.png')
    );

$button_press_styles:
    wintc_define_props_bg(
        $button_press_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        linear-gradient(180deg, rgba(143,173,211,1) 0%, rgba(163,190,220,1) 100%)
    );
$button_press_styles:
    wintc_define_props_borders(
        $button_press_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/gtk-3.0/button_press_border.png')
    );

$button_inactive_styles:
    wintc_define_props_bg(
        $button_inactive_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        linear-gradient(180deg, rgba(237,238,234,1) 0%, rgba(225,227,221,1) 100%)
    );
$button_inactive_styles:
    wintc_define_props_borders(
        $button_inactive_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/gtk-3.0/button_inactive_border.png')
    );

/**
$button_flat_focused_background: ;
$button_flat_focused_border_image: ;

$button_flat_hover_background: ;
$button_flat_hover_border_image: ;

$button_flat_pressed_background: ;
$button_flat_pressed_border_image: ;

$button_flat_inactive_background: ;
$button_flat_inactive_border_image: ;
*/
