/**
 * explorer-webview.scss - Luna (Blue) Style Explorer Web View Style Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

// Sidebar itself
//
$explorer_webview_sidebar_styles:
    wintc_define_props_bg(
        $explorer_webview_sidebar_styles,
        false,
        #7394E1,
        undefined,
        undefined,
        undefined,
        undefined
    );

// Sidebar groups
//
$explorer_webview_sidebar_group_styles:
    wintc_define_props_bg(
        $explorer_webview_sidebar_group_styles,
        false,
        #D6DFF7,
        undefined,
        undefined,
        undefined,
        undefined
    );
$explorer_webview_sidebar_group_styles:
    wintc_define_props_borders(
        $explorer_webview_sidebar_group_styles,
        false,
        solid,
        0,
        1,
        1,
        1,
        #FFFFFF,
        undefined
    );

$explorer_webview_sidebar_group_header_styles:
    wintc_define_props_bg(
        $explorer_webview_sidebar_group_header_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 75%, rgba(199, 212, 247, 1) 100%)
    );
$explorer_webview_sidebar_group_header_styles:
    wintc_define_props_fg(
        $explorer_webview_sidebar_group_header_styles,
        false,
        #215DC6,
        undefined
    );

// Sidebar items
//
$explorer_webview_sidebar_item_styles:
    wintc_define_props_fg(
        $explorer_webview_sidebar_item_styles,
        false,
        #4B76DF,
        undefined
    );

$explorer_webview_sidebar_item_hover_styles:
    wintc_define_props_fg(
        $explorer_webview_sidebar_item_hover_styles,
        false,
        #609DFB,
        undefined
    );

$explorer_webview_sidebar_item_hover_styles:
    $explorer_webview_sidebar_item_hover_styles;
