/**
 * start-menu.scss - Luna (Blue) Style Start Menu Style Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$start_flag_size: 20px;
$start_text_case: lower;

$start_menu_allprograms_height: 24px;
$start_menu_allprograms_arrow_width: 16px;

$start_menu_display_userpic: true;

$start_menu_programs_column_width: 176px;
$start_menu_places_column_width: 176px;

$start_menu_popup_menu_vmargin: 1px;

$start_menu_separator_thickness: $separator_thickness;


//
// START BUTTON
//
$start_flag_styles:
    wintc_define_props_bg(
        $start_flag_styles,
        false,
        undefined,
        undefined,
        no-repeat,
        0px 3px,
        url('../Resources/start_flag.png')
    );
$start_flag_styles:
    wintc_define_props_box(
        $start_flag_styles,
        false,
        margin,
        undefined,
        4,
        undefined,
        5
    );

$start_button_styles:
    wintc_define_props_bg(
        $start_button_styles,
        false,
        undefined,
        100% 100%,
        undefined,
        undefined,
        url('../Resources/start_button_body.png'),
        linear-gradient(179deg, rgba(150,196,150,1) 0%, rgba(54,143,55,1) 15%, rgba(54,143,55,1) 35%, rgba(61,159,62,1) 60%, rgba(61,152,61,1) 100%)
    );
$start_button_styles:
    wintc_define_props_borders(
        $start_button_styles,
        false,
        solid,
        2,
        13,
        3,
        5,
        undefined,
        url('../Resources/start_button_border.png')
    );
$start_button_styles:
    wintc_define_props_box(
        $start_button_styles,
        false,
        margin,
        undefined,
        undefined,
        undefined,
        undefined
    );
$start_button_styles:
    wintc_define_props_box(
        $start_button_styles,
        false,
        padding,
        0,
        0,
        0,
        0
    );
$start_button_styles:
    wintc_define_props_fg(
        $start_button_styles,
        false,
        undefined,
        1px 1px 2px #152404
    );
$start_button_styles:
    wintc_define_props_font(
        $start_button_styles,
        false,
        'Franklin Gothic Medium',
        14pt,
        italic,
        undefined
    );

$start_button_hover_styles:
    wintc_define_props_bg(
        $start_button_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/start_button_hover_body.png'),
        linear-gradient(179deg, rgba(146,207,145,1) 0%, rgba(65,174,66,1) 15%, rgba(65,180,65,1) 50%, rgba(64,173,65,1) 95%, rgba(64,166,65,1) 100%)
    );
$start_button_hover_styles:
    wintc_define_props_borders(
        $start_button_hover_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/start_button_hover_border.png')
    );

$start_button_press_styles:
    wintc_define_props_bg(
        $start_button_press_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/start_button_press_body.png'),
        linear-gradient(179deg, rgba(43,91,43,1) 0%, rgba(43,91,43,1) 10%, rgba(29,129,29,1) 15%, rgba(29,129,29,1) 35%, rgba(29,145,29,1) 55%, rgba(29,145,29,1) 100%)
    );
$start_button_press_styles:
    wintc_define_props_borders(
        $start_button_press_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        url('../Resources/start_button_press_border.png')
    );
$start_button_press_styles:
    wintc_define_props_box(
        $start_button_press_styles,
        false,
        padding,
        0,
        0,
        0,
        0
    );

$start_button_selected_styles: $start_button_press_styles;

$start_button_text_styles:
    wintc_define_props_box(
        $start_button_text_styles,
        false,
        margin,
        0,
        13,
        0,
        0
    );


//
// START MENU
//
$start_menu_styles: ();
$start_menu_styles:
    wintc_define_props_bg(
        $start_menu_styles,
        false,
        transparent,
        undefined,
        undefined,
        undefined,
        undefined
    );
$start_menu_styles:
    wintc_define_props_borders(
        $start_menu_styles,
        false,
        none,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined,
        undefined
    );


//
// START MENU HORIZONTAL USER PANE
//
$start_menu_horz_userpane_styles:
    wintc_define_props_bg(
        $start_menu_horz_userpane_styles,
        false,
        undefined,
        101% 100%,
        undefined,
        -2px 0px,
        url('../Resources/start_userpane_body.png')
    );
$start_menu_horz_userpane_styles:
    wintc_define_props_borders(
        $start_menu_horz_userpane_styles,
        false,
        solid,
        5,
        6,
        0,
        6,
        undefined,
        url('../Resources/start_userpane_border.png')
    );
$start_menu_horz_userpane_styles:
    wintc_define_props_box(
        $start_menu_horz_userpane_styles,
        false,
        margin,
        undefined,
        undefined,
        undefined,
        undefined
    );

$start_menu_userpic_styles:
    wintc_define_props_borders(
        $start_menu_userpic_styles,
        false,
        solid,
        2,
        5,
        5,
        2,
        undefined,
        url('../Resources/user_tile_border.png')
    );
$start_menu_userpic_styles:
    wintc_define_props_box(
        $start_menu_userpic_styles,
        false,
        margin,
        2,
        0,
        2,
        1
    );

$start_menu_horz_username_styles:
    wintc_define_props_fg(
        $start_menu_horz_username_styles,
        false,
        #FFFFFF,
        0px 1px 2px #000000
    );
$start_menu_horz_username_styles:
    wintc_define_props_font(
        $start_menu_horz_username_styles,
        false,
        'Franklin Gothic Medium',
        undefined,
        undefined,
        undefined
    );


//
// START MENU PROGRAMS COLUMN
//
$start_menu_programs_column_styles:
    wintc_define_props_bg(
        $start_menu_programs_column_styles,
        false,
        #FFFFFF,
        undefined,
        undefined,
        undefined,
        undefined
    );
$start_menu_programs_column_styles:
    wintc_define_props_borders(
        $start_menu_programs_column_styles,
        false,
        solid,
        3,
        0,
        1,
        2,
        undefined,
        url('../Resources/start_programs_border.png')
    );
$start_menu_programs_column_styles:
    wintc_define_props_box(
        $start_menu_programs_column_styles,
        false,
        margin,
        undefined,
        undefined,
        undefined,
        undefined
    );
$start_menu_programs_column_styles:
    wintc_define_props_box(
        $start_menu_programs_column_styles,
        false,
        padding,
        2,
        6,
        undefined,
        6
    );
$start_menu_programs_column_styles:
    wintc_define_props_fg(
        $start_menu_programs_column_styles,
        false,
        #373737,
        undefined
    );


$start_menu_programs_separator_styles:
    wintc_define_props_bg(
        $start_menu_programs_separator_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(211,211,200,1) 25%, rgba(211,211,200,1) 50%, rgba(211,211,200,1) 75%, rgba(255,255,255,1) 100%)
    );

$start_menu_programs_menuitem_mime_prgtxt_styles:
    wintc_define_props_fg(
        $start_menu_programs_menuitem_mime_prgtxt_styles,
        false,
        #808080,
        undefined
    );
$start_menu_programs_menuitem_mime_hover_styles:
    wintc_define_props_fg(
        $start_menu_programs_menuitem_mime_hover_styles,
        false,
        $selected_fg_color,
        undefined
    );

//
// 'ALL PROGRAMS' MENU ITEM
//
$start_menu_allprograms_menuitem_styles:
    wintc_define_props_box(
        $start_menu_allprograms_menuitem_styles,
        false,
        margin,
        6,
        undefined,
        5,
        undefined
    );
$start_menu_allprograms_menuitem_styles:
    wintc_define_props_box(
        $start_menu_allprograms_menuitem_styles,
        false,
        padding,
        0,
        undefined,
        0,
        undefined
    );
$start_menu_allprograms_menuitem_styles:
    wintc_define_props_font(
        $start_menu_allprograms_menuitem_styles,
        false,
        undefined,
        undefined,
        undefined,
        bold
    );


//
// START MENU POPUP MENU
//
$start_menu_popup_menu_styles:
    wintc_define_props_borders(
        $start_menu_popup_menu_styles,
        false,
        solid,
        1,
        1,
        1,
        6,
        undefined,
        url('../Resources/start_menu_item.png')
    );

$start_menu_popup_menu_menuitem_styles:
    wintc_define_props_box(
        $start_menu_popup_menu_menuitem_styles,
        false,
        margin,
        0,
        1,
        0,
        6
    );
$start_menu_popup_menu_menuitem_styles:
    wintc_define_props_box(
        $start_menu_popup_menu_menuitem_styles,
        false,
        padding,
        3,
        0,
        2,
        12
    );


//
// START MENU PLACES COLUMN
//
$start_menu_places_column_styles:
    wintc_define_props_bg(
        $start_menu_places_column_styles,
        false,
        #D3E5FA,
        undefined,
        undefined,
        undefined,
        undefined
    );
$start_menu_places_column_styles:
    wintc_define_props_borders(
        $start_menu_places_column_styles,
        false,
        solid,
        3,
        6,
        1,
        1,
        undefined,
        url('../Resources/start_places_border.png')
    );
$start_menu_places_column_styles:
    wintc_define_props_box(
        $start_menu_places_column_styles,
        false,
        margin,
        undefined,
        undefined,
        undefined,
        undefined
    );
$start_menu_places_column_styles:
    wintc_define_props_box(
        $start_menu_places_column_styles,
        false,
        padding,
        2,
        2,
        undefined,
        5
    );
$start_menu_places_column_styles:
    wintc_define_props_fg(
        $start_menu_places_column_styles,
        false,
        #0A246A,
        undefined
    );

$start_menu_places_separator_styles:
    wintc_define_props_bg(
        $start_menu_places_separator_styles,
        false,
        undefined,
        undefined,
        undefined,
        undefined,
        linear-gradient(90deg, rgba(211,229,250,1) 0%, rgba(129,182,255,1) 35%, rgba(129,182,255,1) 50%, rgba(129,182,255,1) 65%, rgba(211,229,250,1) 100%)
    );


//
// START MENU LOGOFF PANE
//
$start_menu_button_styles:
    wintc_define_props_box(
        $start_menu_button_styles,
        false,
        margin,
        4,
        -2,
        6,
        0
    );
$start_menu_button_styles:
    wintc_define_props_box(
        $start_menu_button_styles,
        false,
        padding,
        3,
        10,
        3,
        3
    );

$start_menu_button_press_styles:
    wintc_define_props_box(
        $start_menu_button_press_styles,
        false,
        padding,
        4,
        9,
        2,
        4
    );

$start_menu_logoff_pane_styles:
    wintc_define_props_bg(
        $start_menu_logoff_pane_styles,
        false,
        undefined,
        101% 100%,
        undefined,
        -2px 0px,
        url('../Resources/start_logoffpane_body.png')
    );
$start_menu_logoff_pane_styles:
    wintc_define_props_borders(
        $start_menu_logoff_pane_styles,
        false,
        solid,
        0,
        4,
        0,
        4,
        undefined,
        url('../Resources/start_logoffpane_border.png')
    );
$start_menu_logoff_pane_styles:
    wintc_define_props_fg(
        $start_menu_logoff_pane_styles,
        false,
        #FFFFFF,
        undefined
    );
