/**
 * list.scss - Theme Base List Styles
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

list
{
    background-color: $base_color;
    border-color:     $borders_color;
    color:            $text_color;
    
    row
    {
        padding: 2px;
    }
}

row:selected
{
    @extend %selected_items;
}
