/**
 * notification.scss - Theme Base App Notification Styles
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

.app-notification,
.app-notification.frame
{
    @extend %osd;
    
    background-color: $osd_bg_color;
    background-clip:  padding-box;
    border:           1px solid $borders_color;
    padding:          10px;
    
    button
    {
        @extend %osd_button;
    }
    
    border
    {
        border: none;
    }
}
