/**
 * sizing.scss - Theme Base Sizing Constants
 *
 * This source-code is part of Windows XP stuff for XFCE:
 * <<https://www.oddmatics.uk>>
 *
 * Author(s): Rory Fewell <roryf@oddmatics.uk>
 */

$_headerbar_height: 29px;
$_entry_height:     20px;
$_btn_pad:          4px 9px;
$_hb_btn_pad:       6px;
$_img_btn_pad:      5px;
$_sel_menu_pad:     6px 10px;
$_circ_btn_pad:     4px;
$_switch_margin:    10px;
